
<h1> API List</h1>

<ol>
  <li><b>/returnPairs</b> - no params, returns list of all pairs</li>
  <li><b>/returnPair</b> - pair=pair, start=date, end=date - returns all trades for pair between start and end</li>
  <li><b>/returnPairTradesCount/:pair</b> - returns trades count for included pair</li>
  <li><b>/getOldestTrade/:pair</b> - returns the oldest trade date for included pair</li>
</ol>