:root {
  --blue_200: #90CAF9;
  --blue_300: #64B5F6;
  --blue_400: #42A5F5;
  --blue_500: #2196F3;
  --blue_600: #1E88E5;
  --blue_700: #1976D2;
  --blue_800: #1565C0;
  --blue_900: #0D47A1;
  --amber_200: #FFE082;
  --amber_300: #FFD54F;
  --amber_400: #FFCA28;
  --amber_500: #FFC107;
  --amber_600: #FFB300;
  --amber_700: #FFA000;
  --amber_800: #FF8F00;
  --amber_900: #E65100;

  --black: #3a3a3a;
}

html, body, .wrapper, #bc-frame, #content{
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0
}
.wrapper {
  /* display: grid;
  grid-template-columns: auto 1fr;
  grid-template-areas: "sidebar content"; */
}
#bc-sidebar {
  width: 30px;
  /* width: 100px; */
  background-color: var(--black);
  height: 100%;
  position: absolute;
  float: left;
}
#bc-frame {
  margin-left: 30px;
  width: calc(100% - 30px);
}
iframe{
  border: none;
  width: 100%;
  height: 100%;
}
