<script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
<script type="text/javascript">
var frH = "290px"
if( getParameterByName("small")=='true'){frH = "174px"}
new TradingView.widget({
  "width":  "100%",
  "height":  frH,
  "symbol": "POLONIEX:" + getParameterByName("pair","USDT_BTC"),
  "interval": getParameterByName("int",15),
  "timezone": "Etc/UTC",
  "theme": "light",
  "style": "1",
  "locale": "en",
  "toolbar_bg": "#f1f3f6",
  "hide_top_toolbar":true,
  "enable_publishing": false,
  "allow_symbol_change": false,
  "save_image":false,
  "hideideas": true,
});
function getParameterByName(name, def) {
    // if (!url) {
     var url = window.location.href;
    // }
    name = name.replace(/[\[\]]/g, "\\$&");
    var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
        results = regex.exec(url);
    if (!results) return def;
    if (!results[2]) return def;
    // if (!results[2]) return def;
    return decodeURIComponent(results[2].replace(/\+/g, " "));
}
</script>