<div class="modal-dialog">
      
  <!-- Modal content -->
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4 class="modal-title">Settings</h4>
    </div>
    <div class="modal-body">
      <label for="polokey">Poloniex Key</label><input type="text" onblur="" value="" name="polokey" class="email" id="polokey" placeholder="KEY" required=""><br>
      <label for="polosec">Poloniex Secret</label><input type="text" onblur="" value="" name="polosec" class="email" id="polosec" placeholder="SECRET" required="">
    </div>
    <div class = "modal-footer">
      <button type="button" class="btn btn-default" onclick="settings.saveSettings()">Save</button>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>
  </div>

</div>