/* variables */
:root {
  --blue_200: #90CAF9;
  --blue_300: #64B5F6;
  --blue_400: #42A5F5;
  --blue_500: #2196F3;
  --blue_600: #1E88E5;
  --blue_700: #1976D2;
  --blue_800: #1565C0;
  --blue_900: #0D47A1;
  --amber_200: #FFE082;
  --amber_300: #FFD54F;
  --amber_400: #FFCA28;
  --amber_500: #FFC107;
  --amber_600: #FFB300;
  --amber_700: #FFA000;
  --amber_800: #FF8F00;
  --amber_900: #E65100;

  --offwhite: #EEEEEE;

  --toolbar_transition: .5s;
  --toolbar_font_transition: .5s;
}

html, body, #container {
  width: 100%;
  height: 100%;
}

/* Effects */
.transition {
  transition: all var(--toolbar_transition);
  -webkit-transition: all var(--toolbar_transition);
}

/* Page Sections */
#container {
  display: grid;
  grid-template-columns: 70px auto;
  background-color: var(--dark);
}
#header {
  position: relative;
  overflow: hidden;
  height: 194px;
  background-position: center;
  background-size: cover;
  background-image: url(imgs/unsplash_stocks.jpg);
}
.userpic {
  margin: 10px;
  position: fixed;
}
img#userpic {
  max-width: 100px;
  border-radius: 50%;
}

#logo-head {
  display: none;
  position: fixed;
  top: 4px;
  left: 100px;
  width: fit-content;
  height: fit-content;
}
#logo-head img {
  display: block;
  width: 40px;
}
i.fas {
  font-size: 1.5vw;
  position: absolute;
  left: 1%;
  bottom: 4%;
  color: var(--offwhite);
  cursor: pointer;
}
/* Overview Header Text */
.greeting-wrap {
  padding: 30px 0;
}
h1#greeting{
  text-align: center;
  margin: 0 auto;
  font-weight: 500;
  font-size: 5em;
  color:var(--offwhite) !important;
}
h3#currPortfolio {
  font-size: 2em;
  color: #FFA726;
  text-align: center;
  margin: 0 auto;
}
#main {
  display: grid;
  grid-template-rows: max-content auto;
  background-color: var(--offwhite);
}
.navel-wrap{
  padding: 20px 0;
}
#toolbar {
  background-color: var(--dark);
  color: lightgray;
  font-size: 16pt;
  /* padding-top: 50px; */
  width: 70px;
  grid-column: 1;
  /* grid-row: 1/2; */
  z-index: 1000
}
/* Main Sections */
.section, {
  padding-left: 20px;
  position: absolute;
  width: 100%;
}
.section img{
  width: 100%;
}
.sections #trade {
  display: none;
}
.sections #settings{
  display: none;
}
/* #overview{

} */

/* End Sections */


/* Nav Buttons */
.navigation .nav_element div:first-child{
  margin-top: 4px
}
.navigation .nav_element div:last-child{
  opacity: 0;
  margin-top: 4px
}
.navigation {
  position: sticky;
  top: 220px;
  width: 100%
}
.nav_element, .controls {
  cursor: pointer;
  padding: 14px;
  line-height: 35px;
  width: 100%;
  display: grid;
  grid-template-columns: 40px auto;
  grid-gap: 20px;
}
.nav_element div:first-child {
  text-align: center;
}
.nav_element:hover {
  color: var(--offwhite);
  background-color: #616161;
}
.nav_element img, .controls img{
  width: 30px;
  /* transition: all 1s;
  -webkit-transition: all 1s; */
}
.selected {
  color: var(--offwhite);
  background-color: #616161;
}
/* End Nav Buttons */

/* Logo */
#logo {
  position: absolute;
  right: 8%;
  top: 36px;
}
#logo img {
 width: 8vw;
}
/* End Logo */
