
/* variables */
:root {
    --blue_200: #90CAF9;
  --blue_300: #64B5F6;
  --blue_400: #42A5F5;
  --blue_500: #2196F3;
  --blue_600: #1E88E5;
  --blue_700: #1976D2;
  --blue_800: #1565C0;
  --blue_900: #0D47A1;
  --amber_200: #FFE082;
  --amber_300: #FFD54F;
  --amber_400: #FFCA28;
  --amber_500: #FFC107;
  --amber_600: #FFB300;
  --amber_700: #FFA000;
  --amber_800: #FF8F00;
  --amber_900: #E65100;


    --brightred: red;
    --mediumdarkred: #be8080;
    --mediumred: #e2b4b4;
    --lightred: #f5d1d1;

    --deepgreen: green;
    --mediumdarkgreen: #649464;
    --mediumgreen: #98c598;
    --mediumbrightgreen: #c9f3c9;
    --lightgreen: #d2e8d2;

    --mediumblue: #89bdf4;
    --lightblue: #cbe2d8;
    
    --mediumdarkgrey: rgb(138, 127, 127);
    --lightgray: #f1eeee;

    --hiliteyellow: #efef9e;

    /* new color pallatte */
    /* main colors */

    /* hilight colors */

  }

body::-webkit-scrollbar{
    display: none;
}
.bclogo{
    position: fixed;
    z-index: 10000;
    width: 100vw;
    height: 100vh;
}
.bclogo > div.mask{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: white;
}
.bclogo > div.loading{
    font-size: 2vw;
    text-align: center;
}
.bclogo > div.loading img{
    width: 75px;
    margin-top: -20px;
}
.bclogo > div.logo{
    padding-top: 200px;
    width: 100vw;
    padding-left: calc(50vw - 125px);
    padding-right: calc(50vw - 125px);
}
.bclogo > div.logo > img{
    width: 250px;
    height: 238px;
    /* animation: fadeIn 1.25s infinite alternate; */
}
@keyframes fadeIn { 
    from { opacity: .3; } 
  }

.mainframe {
    margin: 0 auto;
    /* max-width:1280px */
}
.panel-body {
    background-color: rgb(233, 240, 243);
}

.settingsModal {
    z-index: 10;
}
.ui-button-icon-space{
    display: none !important;
}
.ui-dialog-titlebar-close span{
    margin: -8px 0 0 -8px !important;
}
.buy button{
    margin-left: 5px;
}
.text-success::before{
    vertical-align: 40% !important
}
.text-danger::before{
    vertical-align: -75% !important
}
.glyphicon-option-horizontal::before {
    vertical-align: -40% !important;
}
.glyphicon {
    transition: all .2s ease-in-out;
}
.glyphicon-arrow-up:hover, .glyphicon-arrow-down:hover, .glyphicon-triangle-bottom:hover, .glyphicon-triangle-top:hover, .glyphicon-info-sign:hover {
    transform: scale(2)
}
.pair{
    float: left;
    border: lightgrey 1px solid;
    /* border-radius: 10px; */
    margin: 5px;
    background-color:var(--lightgray);
    cursor: pointer;
}
.pair td{
    padding: 1px 0px 1px 5px !important;
}
#poloO{
    display: flex;
    align-items: center;
    padding-left: 5%;
}
.orderds-table th{
    background: var(--lightgray);
}
.orders-table{
    /* float: left; */
    margin-right: 10px;
    font-size: 10px;
    border-collapse: initial;
    border: 2px solid var(--lightgray);
    border-radius: 10px;
    padding: 10px;
    float: left;
}
.orders-table td{
    padding: 0px 18px 0px 0px !important;
    text-align: right;
    border-radius: 5px;
}
.orders-table td:not(:first-child){
    min-width: 95px;
}
.orders-table td:first-child{
    font-weight: bold !important;
}
.orders-table td:not(:first-child):hover {
    transform: scale(1.25);
}
.orders-table tr:not(:first-child) {
    border-bottom: var(--lightgray) 1px solid;
}
.crytable{
    margin: 0 15px 10px 0;
    width:390px !important;
    float: left;
    font-size: 12px;
}
.crytable thead{
    font-weight: bold;
    font-size: 16px;
}
.crytable thead td:nth-child(1){
    font-size: 20px;
}
.crytable thead td:nth-child(2){
    border: solid 1px !important;
}
.data_container{
    position: absolute;
    left: 90%;
    top: 4px;
}
.data {
    float: left;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    margin: 5px 0 0 5px;
    background-color:var(--deepgreen);
    display: none
}
#data {
    clear: both;
    max-width: 500px; 
    word-wrap: break-word;
} 
.progress{
    margin: 0 !important;
    font-weight: bold;
}
#account{
    clear: both;
    width: 100%;
    float: left;
}
div.balances input,div.orders input {
    /*border: 1px solid gray;*/
    height: 14px;
}
.swal2-input{
        margin: 0px 0px 20px 0px !important;
}
.swal2-modal .swal2-range input {
    width: 100% !important;
}
input.rangepercent {
    width: 50% !important;
    margin-left: 25%;
}
.swal2-modal .swal2-range output {
    float: initial !important;
    width: initial !important;
    margin: 0 0 -40px !important;
}
.swal2-range output::after {
    content: " %";
}
.margin {
    float: left;
    border: var(--lightgray) 1px solid;
    border-radius: 10px;
    margin: 4px;
    padding: 5px;
    min-width: 200px;
    min-height: 164px;
    font-size: 11px;
    box-shadow: 2px 2px 14px 0px rgba(0,0,0,0.25);
    background-color: var(--lightgray);
}
.shadow{
    box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.15);
}

div.balances{
    float: left;
    border: var(--lightgray) 1px solid;
    /* border-radius: 10px; */
    margin: 4px;
    padding: 5px;
    min-width: 200px;
    max-width: 200px;
    max-height: 170px;
    min-height: 152px;
    font-size: 11px;
    overflow: hidden;
    cursor: pointer;
    background-color: var(--lightgreen);
    /* opacity:0; */
    /* transition: opacity .25s */
}
div.balances.shrunk, div.orders.shrunk{
    height: 56px !important;
    min-width: 100px !important;
    min-height: 56px !important;
    width: 100px !important;
    padding-right: 0px;
    margin: 2px;
}
#divider{
    /* width: 100%;
    height: 30px;
    background-color: darkgrey; */
    float: left;
    /* opacity: 1;
    padding-left: 15px;
    padding-top: 7px;
    font-weight: bold;
    font-size: 12px; */
}
#collapsedivider > .panel-body{
    min-height: 136px;
    padding: 3px 0px !important;
}
div.orders{
    float: left;
    border: var(--lightgray) 1px solid;
    /* border-radius: 10px; */
    margin: 4px;
    padding: 5px;
    min-width: 200px;
    /* max-width: 200px; */
    max-height: 170px;
    min-height: 156px;
    font-size: 11px;
    cursor: pointer;
    background-color: var(--lightblue);
    overflow: hidden;
    /* opacity: 0; */
    /* transition: opacity .25s */
}
div.orders > div:not(:only-of-type) {
    min-width: 201px;
    /* max-width: 173px; */
}
/* .hoverzoom{
    transition: all 1s 
} */
/* .hoverzoom:hover {
    transition-duration: 1s;
    transition-delay: 6s;
    transform: scale(1.4)
} */
/*div.balances li:hover, div.orders li:hover{
    transform: scale(1.15)
}*/
div.buy{
    float: left;
    border: #89bdf4 3px solid;
    /* border-radius: 10px; */
    margin: 4px;
    padding: 5px;
    padding-top: 5px;
    min-width: 200px;
    max-width: 200px;
    min-height: 152px;
    font-size: 11px;
    box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.25);
    background-color: var(--mediumgreen);
}
/* div.buy div {
    margin-top: 36px
} */
div.buy ul{
    padding-left: 0px;
}
div.console {
    width: 100%
}
div.console textarea{
    border: 3px double var(--lightgray);
	border-radius: 10px;
    width: 90%;
    background-image: -webkit-linear-gradient(left, white 10px, transparent 10px), -webkit-linear-gradient(right, white 10px, transparent 10px), -webkit-linear-gradient(white 9px, #ddd 9px, #ddd 10px, white 10px);
    background-image: -moz-linear-gradient(left, white 10px, transparent 10px), -moz-linear-gradient(right, white 10px, transparent 10px), -moz-linear-gradient(white 9px, #ddd 9px, #ddd 10px, white 10px);
    background-image: -ms-linear-gradient(left, white 10px, transparent 10px), -ms-linear-gradient(right, white 10px, transparent 10px), -ms-linear-gradient(white 9px, #ddd 9px, #ddd 10px, white 10px);
    background-image: -o-linear-gradient(left, white 10px, transparent 10px), -o-linear-gradient(right, white 10px, transparent 10px), -o-linear-gradient(white 9px, #ddd 9px, #ddd 10px, white 10px);
    background-size: 100% 100%, 100% 100%, 100% 15px;
    background-attachment: local;
    box-shadow: inset 0px 8px 16px 3px rgba(0, 0, 0, 0.3);
    line-height: 15px;
    font-family: Arial, Helvetica, Sans-serif;
    font-size: 11px;
    padding: 10px;
}
div.buy li, div.balances li, div.orders li, div.margin li{
    list-style: none !important;
}
div.buy button {
    /*width: 122px;*/
    height: 20px;
    border-radius: 10px;
    background: white;
    margin-top: 6px;
    margin-bottom: 5px
}
#buyAmt{
    height: 16px;
    border-radius: 8px;
    padding-left: 10px;
    width: 80px;
}
div.balances button:first {
    margin-left: -11px !important;
}
div.balances li:nth-child(3){
    font-weight: bold;
}
div.balances ul, div.orders ul, div.margin ul{
    padding-left: 10px;
}
div.summary{
    font-size: 20px;
    margin: 20px 0 2px;
}

#trollbox{
    clear: both;
    width: 60%;
    max-width: 750px;
    height: 300px;
    border: solid 1px black;
    border-radius: 10px;
}
#trollinner{
    clear: both;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}
#trollbox_container{
    position: relative;
    float: left;
    width: 100%;
    /*top: 100px;*/
}
#trollbox_container input{
    width: 350px;
}
#trollbox > div > div{
    clear:both;
    line-height: 18px;
    margin-left: 5px;
    word-break: break-word;
    overflow-wrap: break-all;
}
#trollbox > div > div{
    clear: both;
    border-bottom: 1px dotted var(--lightgray);
}
#trollbox img {
    max-width: 75px;
}
.marked{
    color: pink;
    margin-left: 20px !important;
    font-style: italic;
    font-size: smaller;
}
.time {
    /*float: left;*/
    margin: 0px 5px 0 0;
    /*padding-top: 2px;*/
    font-style: italic;
    color: #7d7b7b;
    font-size: 8px;
}
.highlight{
    background-color: var(--hiliteyellow)
}
.pairselect{
    font-family: cryptocoins,sans-serif;
    font-size: 16px
}
.pairselect:focus{
    font-size: 10px
}
img.crypto {
    width: 32px;
    margin-top: -10px;
    /* filter: brightness(.5) */
}

.coin {
    height: 20px;
    min-height: 20px !important;
}
.smallcoin{
    height: 12px;
}
i.cc {
    font-size: 20px;
}
i.ccs {
    font-size: 12px !important;
}

/* general */

.greenb {
     background-color: var(--mediumbrightgreen);
}
.redb {
    background-color: var(--lightred);
}
.green{
    background-color: var(--mediumgreen);
    border-radius: 5px;
}
.green:before { content:"\2713\0020"; }
.red{
    background-color: var(--mediumred);
    border-radius: 5px;
}
.frameholder{
    width: 100%;
    height: 300px;
    position: relative;
    /* clear: both; */
    margin: auto;
    margin-bottom: 5px;
    float: left;
}
.frameholderpg1{
    float: left;
    width: 406px;
    height: 174px;
    position: relative;
    /* margin: 5px; */
}
.pairframe {
    width: 100%;
    height: 98%;
    border: 0; 
    padding: 0; 
    margin: 0
}
.framecover{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.07);
    transition: all 1s
}
.framecoverpg1 {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.07);
    transition: all 1s
}

#movers{
    width: fit-content;
}
#moversWrap{
    max-height: 300px;
    overflow: scroll;
    cursor: pointer;
    /* margin-right: 10px; */
}
.moverscount{
    min-width: initial !important;
    width: 25px;
    max-width: 25px;
    float: left;
}
.moversrow{
    display: grid;
    grid-template-columns: 25px 100px 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 1px;
    overflow: auto;
    background-color: var(--lightgray);
}
.moversrow:first-child {
    position: sticky;
    top: 0px;
    /* margin-bottom: 1px; */
}
.moversrow div:nth-child(2){
    width: 100px;
}
.moverspair{
    padding-right: 10px;
    min-width: 140px;
}
.movers{
float:left;
}
.moversdata{
    min-width: 80px;
    text-align: center;
    color: white;
    background-color: rgb(138, 127, 127);
}
.moversdata:last-child {
    margin-right: 3px !important;
}
.moversdata.movershead:nth-child(2){
    /* margin-left: 21px; */
    width: 100px !important;
}
.moversdata:not(.movershead){
    border-radius: 2px;
    margin: 1px 0;
    font-size: 12px;
}
#moversWrap .moversrow:hover .moversdata:not(:nth-child(2)) {
    background-color: rgb(138, 127, 127) !important;
}
.movers-green{
background-color: var(--mediumdarkgreen) !important;

}
.movers-red{
background-color: var(--mediumdarkred) !important;
}

/* panels */
.panel-group{
    margin: 0px !important;
    margin-bottom: 0px !important;
}
.panel-heading {
    padding: 4px 15px !important;
    cursor: pointer;
}
.panel-heading .accordion-toggle:after {
    /* symbol for "opening" panels */
    font-family: 'Glyphicons Halflings';  /* essential for enabling glyphicon */
    content: "\e114";    /* adjust as needed, taken from bootstrap.css */
    color: var(--mediumdarkgrey);         /* adjust as needed */
    margin-left: 10px;
}
.panel-heading .accordion-toggle.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\e080";    /* adjust as needed, taken from bootstrap.css */
}
.panel-title a {
    display: block;
    padding: 10px 15px;
    margin: -10px -15px;
    font-family: roboto;
    font-size: 17px !important;
    font-weight: 400;
    text-transform: uppercase;
}
.smaller-title{
    font-size: 10px !important;
    vertical-align: super;
}
.panel-group .panel {
    margin-top: 0 !important;
}
.panel-body {
    padding: 3px 5px !important;
}
.panel-default {
    width: 100%;
    float: left;
    margin-bottom: 0 !important;
}
#orderbookWrap{
    /* display: flex; */
    /* height: 120px; */
    max-height: 230px;
    overflow: scroll;
}
::-webkit-scrollbar { appearance: none;-webkit-appearance: none; width: 7px; } 
::-webkit-scrollbar-thumb { border-radius: 4px; background-color: rgba(0,0,0,.5);}
.tradingview-wrapper{
    width: 430px;
    height: 170px;
    float: left;
    overflow: hidden;
    transform: translateX(0);
}
.tvsym {
    position: fixed;
    width: 100%;
    left: 35%;
    top: 44%;
    font-size: x-large;
    font-weight: 900;
    opacity: .3;
}
.tradingview-widget-container {
    height: calc(100% + 30px) !important;
    margin-top: -27px;
}
.tradingview-widget-copyright{
    display: none;
}
#charttime{
    width: 130px;
    border-radius: 5px;
    border-width: 1px;
    border-color: var(--lightgray);
    text-align: center;
    /* float: right;
    margin-right: 130px; */
    cursor: pointer;
}
#charttimewrap{
    margin-right: 173px;
    float: right;
}

.arrow-down::after {
      content: '\25bc';
      padding-left: 0.5em;
}
.arrow-up::after {
    content: '\25b2';
    padding-left: 0.5em;
}