<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Alvin Khoo (c) 2017">

    <title>Vue nStats & techan</title>

    <!-- Bootstrap Core CSS -->
    <!-- link rel="stylesheet" href="welcome/css/bootstrap.min.css" type="text/css" -->

    <!-- Custom Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" href="//unpkg.com/vue-material/dist/vue-material.css" />

<style>
body {
  font-family: 'Roboto', sans-serif;
}

.main-content {
  padding: 16px;
}
input {
    font-size: 16px;
}

.overlay {
  fill: none;
  pointer-events: all;
}

.focus circle {
  fill: none;
  stroke: steelblue;
}

.coords {
  font-size: 0.8em;
}

.tradeinfo {
  font-size: 0.8em;
}

    .line {
        fill: none;
	stroke: blue;
        stroke-width: 1;
    }

    .atr path {
        fill: none;
        stroke-width: 1;
        stroke: #000000;
    }


    .rsi {
        fill: none;
        stroke: #000000;
    }

    .overbought, .oversold {
        stroke: #FF9999;
        stroke-dasharray: 5, 5;
    }

    .middle, .zero {
        stroke: #BBBBBB;
        stroke-dasharray: 5, 5;
    }

    .stochastic path {
        fill: none;
        stroke-width: 1;
    }
    
    .stochastic.up {
        fill: none;
        stroke: #00AA00;
    }

    .stochastic.down {
        fill: none;
        stroke: #FF0000;
    }

    .stochastic path.overbought, .stochastic path.oversold {
        stroke: #FF9999;
        stroke-dasharray: 5, 5;
    }

    path.macd {
        stroke: #0000AA;
    }

    path.signal {
        stroke: #FF9999;
    }

    path.zero {
        stroke: #BBBBBB;
        stroke-dasharray: 0;
        stroke-opacity: 0.5;
    }

    path.difference {
        fill: #BBBBBB;
        opacity: 0.5;
    }

</style>
</head>

<div id="app">
  
  <div class="main-content">
	<div>
	  <md-button id="go" class="md-raised md-primary" v-on:click.native="revMess">Redraw</md-button>
	  <md-switch v-model="check_utc" id="my-test1" name="my-test1" class="md-primary" v-on:click.native="utcChart" >UTC</md-switch>
                <select id="pair" v-model="selected" v-on:change="revMess">
                  <option v-for="option in options" v-bind:value="option">
                    {{ option }}
                  </option>
                </select>
      <input id="start" type="text" value="2017-06-20T10:01:00Z" style="width:240px"></input><input id="end" type="text" value="2017-06-20T15:33:00Z" style="width:240px"></input><input id="shift" type="text" style="width: 50px" value="30"></input><button onclick="shifttime('down')"><<</button><button onclick="shifttime('up')">>></button>
	</div>

	<div id="Dash"></div>
  </div>
</div>

<script src="//d3js.org/d3.v4.min.js"></script>
<script src="//d3js.org/d3-transition.v1.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/crossfilter/1.3.12/crossfilter.min.js"></script>
<script src="//d3js.org/d3-time.v1.min.js"></script>
<script src="//d3js.org/d3-time-format.v2.min.js"></script>
<script src="techan.min.js"></script>
<script src="nodeStatsBrowser.js"></script>

<script src="//ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="//unpkg.com/vue"></script>
<script src="//unpkg.com/vue-material@0.7.1"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>

<script>
function shifttime(direction){
    var shift = jQuery("#shift").val()
    var start = jQuery("#start").val()
    var end = jQuery("#end").val()
    if (direction=="down"){
        shift = -shift
    }else{
        shift = shift
    }
    jQuery("#start").val( moment.utc(start).add(shift,"minutes").format() )
    jQuery("#end").val( moment.utc(end).add(shift,"minutes").format() )
    jQuery("#go").trigger('click');
    
}

    var coin_pairs = ["BTC_AMP","BTC_ARDR","BTC_BCN","BTC_BCY","BTC_BELA","BTC_BLK","BTC_BTCD","BTC_BTM","BTC_BTS","BTC_BURST","BTC_CLAM","BTC_DASH","BTC_DCR","BTC_DGB","BTC_DOGE","BTC_EMC2","BTC_ETC","BTC_ETH","BTC_EXP","BTC_FCT","BTC_FLDC","BTC_FLO","BTC_GAME","BTC_GNO","BTC_GNT","BTC_GRC","BTC_HUC","BTC_LBC","BTC_LSK","BTC_LTC","BTC_MAID","BTC_NAUT","BTC_NAV","BTC_NEOS","BTC_NMC","BTC_NOTE","BTC_NXC","BTC_NXT","BTC_OMNI","BTC_PASC","BTC_PINK","BTC_POT","BTC_PPC","BTC_RADS","BTC_REP","BTC_RIC","BTC_SBD","BTC_SC","BTC_SJCX","BTC_STEEM","BTC_STR","BTC_STRAT","BTC_SYS","BTC_VIA","BTC_VRC","BTC_VTC","BTC_XBC","BTC_XCP","BTC_XEM","BTC_XMR","BTC_XPM","BTC_XRP","BTC_XVC","BTC_ZEC","ETH_ETC","ETH_GNO","ETH_GNT","ETH_LSK","ETH_REP","ETH_STEEM","ETH_ZEC","USDT_BTC","USDT_DASH","USDT_ETC","USDT_ETH","USDT_LTC","USDT_NXT","USDT_REP","USDT_STR","USDT_XMR","USDT_XRP","USDT_ZEC","XMR_BCN","XMR_BLK","XMR_BTCD","XMR_DASH","XMR_LTC","XMR_MAID","XMR_NXT","XMR_ZEC"]; // manual coins

/* Vue stuff */
Vue.use(VueMaterial)

var App = new Vue({
  el: '#app',
  data: {
    selected: 'BTC_ARDR', 
    options: coin_pairs, 
    check_utc: true,
    message: 'Welcome to bitCoin'
  },
  methods: {
    revMess: function () {
      updateChart();
    },
    utcChart: function() {
      refreshChart();
    }
  }

})

/* jquery stuff */
    $(document).ready(function () {
        drawChart();
    });

/* d3 stuff */

    var block_watch = 6; // last 6 slices to watch
    var block_size = 24; // total block size per calculation
    var sd_90 = 1.644;
    var sd_95 = 1.959;
    var t = d3.transition()
	.duration(750)
	.ease(d3.easeLinear);

    //Draw Stack Chart
    var marginStackChart = {top: 20, right: 80, bottom: 100, left: 80},
        margin2 = {top: 370, right: 80, bottom: 20, left: 80},
        widthStackChart = 980 - marginStackChart.left - marginStackChart.right,
        heightStackChart = 470 - marginStackChart.top - marginStackChart.bottom,
        height2 = 470 - margin2.top - margin2.bottom;


    var xStackChart = d3.scaleBand()
            .range([0, widthStackChart])
            .padding(0.1);
    var yStackChart = d3.scaleLinear()
	    .range([heightStackChart, 0]);
    var yLineChart = d3.scaleLinear()
	    .range([heightStackChart, 0]);
    var yTtestChart = d3.scaleLinear()
	    .range([heightStackChart, 0]);

    var x2 = techan.scale.financetime()
            .range([0, widthStackChart])
    var y2 =  d3.scaleLinear()
            .range([height2, 0]);

    var xAxis = d3.axisBottom(xStackChart);
    var xAxis2 = d3.axisBottom(x2);
    var yAxis2 = d3.axisRight(y2)
		.ticks(5)
		.tickFormat(d3.format(",.2s"));

    var colorStackChart = d3.scaleOrdinal(["#00E676", "#FF5252", "#7b6888", "#6b486b", "#a05d56",  "#ff8c00"])

    var canvasStackChart = d3.select("#Dash").append("svg")
        .attr("width", widthStackChart + marginStackChart.left + marginStackChart.right)
        .attr("height", height2 + heightStackChart + marginStackChart.top + marginStackChart.bottom)
        .append("g")
        .attr("class", 'trade')
        .attr("transform", "translate(" + marginStackChart.left + "," + marginStackChart.top + ")");

    d3.select('svg').insert('g', ":first-child")
        .attr("class", 'bar_only')
        .attr("transform", "translate(" + marginStackChart.left + "," + marginStackChart.top + ")");

    var div = d3.select("body").append("div")
        .attr("class", "tooltip")
        .style("opacity", 0);

    var valueline = d3.line()
	.x(function (d,i) { return widthStackChart/data.length*(i+0.5) }) // offset by half bar
	.y(function (d) { return yLineChart(d.close) });

    var data = [], ohlc_data = [], t_tests;

    //techan stuff
    var rsiData,
        rsi = techan.plot.rsi()
            .xScale(x2)
            .yScale(y2);
    //var stochasticData,
    //    stochastic = techan.plot.stochastic()
    //        .xScale(x2)
    //        .yScale(y2);
    //var macdData,
    //    macd = techan.plot.macd()
    //        .xScale(x2)
    //        .yScale(y2);
    //var atrData,
    //    atr = techan.plot.atr()
    //        .xScale(x2)
    //        .yScale(y2);

    function updateChart() {
	var json_api = '//web.abstractsoftware.ca/polo/php/returnpair?pair=' + App.selected + '&start=' + document.getElementById("start").value + '&end=' + document.getElementById("end").value
	//var json_api = 'data.json';

        data = [], ohlc_data = []; // init data again
	d3.json(json_api, function(raw_data) {
		var prev_close = raw_data[0].close; // init prev_close
		for (let i = 0; i < raw_data.length; i++) {
			dateEnd = moment.utc(raw_data[i].endDate).toDate();
			buy_amt = parseFloat(raw_data[i]["buy_amount"] );
			sell_amt = parseFloat(raw_data[i]["sell_amount"] );
			total = buy_amt + sell_amt;
			buy_trade = parseFloat(raw_data[i]["buy_trades"] );
			sell_trade = parseFloat(raw_data[i]["sell_trades"] );
			data.push({ 'date': dateEnd, 'Buy': buy_amt, 'Sell': sell_amt, 'buyTrade': parseFloat(buy_trade), 'sellTrade': parseFloat(sell_trade) }) // volume & total bids data
		    ohlc_data.push({ 'date': dateEnd, 'close': parseFloat(raw_data[i].close), 'open': prev_close, 'high': parseFloat(raw_data[i].high), 'low': parseFloat(raw_data[i].low), 'volume': total }); // standard OHLC data
			prev_close = raw_data[i].close;
		}
	    

            data.forEach(function (d) {
                var y0 = 0;
                //d.ages = colorStackChart.domain().map(function (name) { return { name: name, y0: y0, y1: y0 += +d[name] }; });
                d.ages = colorStackChart.domain().splice(0,2).map(function (name) { return { name: name, y0: y0, y1: y0 += +d[name] }; });
                d.total = d.ages[d.ages.length - 1].y1;
            });

            data.sort(function (a, b) { return a.date - b.date; });
            ohlc_data.sort(function (a, b) { return a.date - b.date; });

	    refreshChart();
	});
    }

    function refreshChart() { // this refresh existing chart with transition(t)
	
            xStackChart.domain(data.map(function (d) { return d.date; }));
            //xStackChart.domain([data[0].date,data[data.length-1].date]);
            yStackChart.domain([0, d3.max(data, function (d) { return d.total*2; })]);
            yLineChart.domain([d3.min(ohlc_data, function (d) { return d.close; })/1.02, d3.max(ohlc_data, function (d) { return d.close; }) ]);

	    t_tests = t_calc(ohlc_data);
	    t_tests['mfi'] = mfi_calc(ohlc_data);
	    t_tests['t_value_buy'] = t_calc(data, 'Buy');
	    t_tests['t_value_sell'] = t_calc(data, 'Sell');
console.log(JSON.stringify(t_tests));

	    // techan stuff
	    rsiData = techan.indicator.rsi()(ohlc_data); // RSI data
	    x2.domain(rsiData.map(rsi.accessor().d));
	    y2.domain(techan.scale.plot.rsi(rsiData).domain());
	    //stochasticData = techan.indicator.stochastic()(ohlc_data); // stochastic data
            //x2.domain(stochasticData.map(stochastic.accessor().d));
            //y2.domain(techan.scale.plot.stochastic().domain());
            //macdData = techan.indicator.macd()(ohlc_data);
       	    //x2.domain(macdData.map(macd.accessor().d));
            //y2.domain(techan.scale.plot.macd(macdData).domain());
            //atrData = techan.indicator.atr()(ohlc_data);
            //x2.domain(atrData.map(atr.accessor().d));
            //y2.domain(techan.scale.plot.atr(atrData).domain());

	xAxis.tickValues(xStackChart.domain().filter(function(d,i){ return !(i%parseInt(data.length/10))}))
	    .tickFormat(getTimeFormat());

	// update axes
	    canvasStackChart.select(".t_value_p")
		.transition(t)
                .attr("transform", "translate(0," + yTtestChart(t_tests.t)  + ")")
		.select('text')
		.text(" T-price:" + t_tests.t.toFixed(2));
	    canvasStackChart.select(".t_value_b")
		.transition(t)
                .attr("transform", "translate(0," + yTtestChart(t_tests.t_value_buy.t)  + ")")
		.select('text')
		.text(" T-buy:" + t_tests.t_value_buy.t.toFixed(2));
	    canvasStackChart.select(".t_value_s")
		.transition(t)
                .attr("transform", "translate(0," + yTtestChart(t_tests.t_value_sell.t)  + ")")
		.select('text')
		.text(" T-selll:" + t_tests.t_value_sell.t.toFixed(2));

	if (Math.abs(t_tests.t) > 6) {
		fillBox("t_value_p", 0, 0, "#FF80AB" );
	} else {
		fillBox("t_value_p", 0, 0, "skyblue" );
	}
        if (Math.abs(t_tests.t_value_buy.t) > 4) {
                fillBox("t_value_b", 0, 0, "#FF80AB" );
        } else {
                fillBox("t_value_b", 0, 0, "skyblue" );
        }
        if (Math.abs(t_tests.t_value_sell.t) > 4) {
                fillBox("t_value_s", 0, 0, "#FF80AB" );
        } else {
                fillBox("t_value_s", 0, 0, "skyblue" );
        }


	    canvasStackChart.select(".y.axis")
		.transition(t)
                .call(d3.axisLeft(yStackChart));

	    canvasStackChart.select(".line")
		.transition(t)
		.attr("d", valueline(ohlc_data));

	    canvasStackChart.select(".y1.axis")
		.transition(t)
		.call(d3.axisRight(yLineChart))

	    canvasStackChart.select(".x")
		.transition(t)
		.call(xAxis);

	   // update X2 axis - technical indicator
	    canvasStackChart.select(".axis--x")
		.transition(t)
		.call(xAxis);

	  // update y2 axis - technical indicator
	  canvasStackChart.select(".axis--y")
	      .transition(t)
	      //.attr("transform", "translate("+ widthStackChart +",0)")
	      .call(yAxis2);

	    // update bar charts
            $(".barchart").remove(); // zap bar charts first

	    var bar_ch = canvasStackChart.selectAll(".trade")
            .data(data)
            .enter().append("g")
            .attr("class", "barchart")
            .attr("transform", function (d,i) { return "translate(" + widthStackChart/data.length*i + ",0)"; });

            bar_ch.selectAll("rect")
            .data(function (d) { return d.ages; })
            .enter().append("rect")
	    .attr("width", Math.max(1, xStackChart.bandwidth() ))
            .attr("y", function (d) { return yStackChart(d.y1); })
            .attr("height", function (d) { return yStackChart(d.y0) - yStackChart(d.y1); })
            .attr("val", function (d) { return d.y1 - d.y0; })
            .style("fill", function (d) { return colorStackChart(d.name); });

	var vol = _pluck(ohlc_data, "volume");
	var vol_mean = nStats.mean(vol, vol.length - block_watch);
	var close_data = _pluck(ohlc_data, "close");
	var close_mean = nStats.mean(close_data, vol.length - block_watch);
	var close_sdev = nStats.sample_standard_deviation(close_data, vol.length - block_watch);
	var s_dev = nStats.sample_standard_deviation(vol, vol.length - block_watch);
	  canvasStackChart.select(".mean_line")
	    .transition(t)
	    .attr("transform", "translate(0,"+ yLineChart(close_mean) +")")
	  canvasStackChart.select(".sd_vol")
	    .transition(t)
	    .attr("transform", "translate(0,"+ yStackChart(vol_mean + (sd_90*s_dev)) +")")
	  canvasStackChart.select(".sd_price")
	    .transition(t)
            .attr("y", yLineChart(close_mean + sd_90*close_sdev) )
            .attr("height",  Math.abs(2*(yLineChart(close_mean + sd_90*close_sdev) -  yLineChart(close_mean))) );


	// techan RSI indicator
	canvasStackChart.selectAll("g.context").datum(rsiData).call(rsi);
	//canvasStackChart.selectAll("g.context").datum(stochasticData).call(stochastic);
	//canvasStackChart.selectAll("g.context").datum(macdData).call(macd);
	//canvasStackChart.selectAll("g.context").datum(atrData).call(atr);

	// barchart needs to appear BEHIND overlay
	    $('.trade').append($('.overlay'));
	    $('.bar_only').append($('.barchart'));
    }

    function drawChart() {
	d3.selectAll("svg g > *").remove()

	var json_api = '//web.abstractsoftware.ca/polo/php/returnpair?pair=' + App.selected + '&start=' + document.getElementById("start").value + '&end=' + document.getElementById("end").value
	//var json_api = 'data.json';

	d3.json(json_api, function(raw_data) {
		if (raw_data == null) { return; }
		var prev_close = raw_data[0]["close"];
		for (let i = 0; i < raw_data.length; i++) {
			dateEnd = moment.utc(raw_data[i].endDate).toDate();
			buy_amt = parseFloat(raw_data[i]["buy_amount"] );
			sell_amt = parseFloat(raw_data[i]["sell_amount"] );
			total = buy_amt + sell_amt;
			buy_trade = parseFloat(raw_data[i]["buy_trades"] );
			sell_trade = parseFloat(raw_data[i]["sell_trades"] );
			data.push({ 'date': dateEnd, 'Buy': buy_amt, 'Sell': sell_amt, 'buyTrade': parseFloat(buy_trade), 'sellTrade': parseFloat(sell_trade) }) // volume & total bids data
		    ohlc_data.push({ 'date': dateEnd, 'close': parseFloat(raw_data[i].close), 'open': prev_close, 'high': parseFloat(raw_data[i].high), 'low': parseFloat(raw_data[i].low), 'volume': total }); // standard OHLC data
			prev_close = raw_data[i].close;
		}

            colorStackChart.domain(d3.keys(data[0]).filter(function (key) { return key !== "date"; }));

            data.forEach(function (d) {
                var y0 = 0;
                d.ages = colorStackChart.domain().splice(0,2).map(function (name) { return { name: name, y0: y0, y1: y0 += +d[name] }; });
                d.total = d.ages[d.ages.length - 1].y1;
            });

            data.sort(function (a, b) { return a.date - b.date; });
            ohlc_data.sort(function (a, b) { return a.date - b.date; });

	    initChart();
	});
    }

    function initChart() {
            xStackChart.domain(data.map(function (d) { return d.date; }));
            //xStackChart.domain([data[0].date,data[data.length-1].date]);
            yStackChart.domain([0, d3.max(data, function (d) { return d.total*2; })]);
            yLineChart.domain([d3.min(ohlc_data, function (d) { return d.close; })/1.02, d3.max(ohlc_data, function (d) { return d.close; }) ]);
            yTtestChart.domain([-20,20]); // t-test range

	    rsiData = techan.indicator.rsi()(ohlc_data);
	    x2.domain(rsiData.map(rsi.accessor().d));
	    y2.domain(techan.scale.plot.rsi(rsiData).domain());
	    //stochasticData = techan.indicator.stochastic()(ohlc_data); // stochastic data
            //x2.domain(stochasticData.map(stochastic.accessor().d));
            //y2.domain(techan.scale.plot.stochastic().domain());
            //macdData = techan.indicator.macd()(ohlc_data);
       	    //x2.domain(macdData.map(macd.accessor().d));
            //y2.domain(techan.scale.plot.macd(macdData).domain());
            //atrData = techan.indicator.atr()(ohlc_data);
            //x2.domain(atrData.map(atr.accessor().d));
            //y2.domain(techan.scale.plot.atr(atrData).domain());

	xAxis.tickValues(xStackChart.domain().filter(function(d,i){ return !(i%parseInt(data.length/10))}))
	    .tickFormat(getTimeFormat());
 
	    t_tests = t_calc(ohlc_data);
	    t_tests['mfi'] = mfi_calc(ohlc_data);
	    t_tests['t_value_buy'] = t_calc(data, 'Buy');
	    t_tests['t_value_sell'] = t_calc(data, 'Sell');
console.log(JSON.stringify(t_tests));

        var t_chart = canvasStackChart.append("g")
            .attr("class", "y3 axis")
            .call(d3.axisRight(yTtestChart))

	t_chart.append("g")
            .attr("class", "t_value_p")
            .attr("transform", "translate(0," + yTtestChart(t_tests.t)  + ")")
            .append("text")
	    .attr("fill", "#000")
	    .attr("font-size", "1.2em")
            .attr("x", 3)
            .attr("y", 0)
            .text("T-price:"+ t_tests.t.toFixed(2));
	t_chart.append("g")
            .attr("class", "t_value_b")
            .attr("transform", "translate(0," + yTtestChart(t_tests.t_value_buy.t)  + ")")
            .append("text")
	    .attr("fill", "#000")
	    .attr("font-size", "1.1em")
            .attr("x", 140)
            .attr("y", 0)
            .text("T-buy:"+ t_tests.t_value_buy.t.toFixed(2));
	t_chart.append("g")
            .attr("class", "t_value_s")
            .attr("transform", "translate(0," + yTtestChart(t_tests.t_value_sell.t)  + ")")
            .append("text")
	    .attr("fill", "#000")
	    .attr("font-size", "1.1em")
            .attr("x", 75)
            .attr("y", 0)
            .text("T-sell:"+ t_tests.t_value_sell.t.toFixed(2));

	if (Math.abs(t_tests.t) > 6) {
		fillBox("t_value_p", 0, 0, "#FF80AB" );
	} else {
		fillBox("t_value_p", 0, 0, "skyblue" );
	}
	if (Math.abs(t_tests.t_value_buy.t) > 4) {
		fillBox("t_value_b", 0, 0, "#FF80AB" );
	} else {
		fillBox("t_value_b", 0, 0, "skyblue" );
	}
	if (Math.abs(t_tests.t_value_sell.t) > 4) {
		fillBox("t_value_s", 0, 0, "#FF80AB" );
	} else {
		fillBox("t_value_s", 0, 0, "skyblue" );
	}

        canvasStackChart.append("g")
            .attr("class", "x axis")
            .attr("transform", "translate(0," + heightStackChart + ")")
            .call(xAxis)
	    //.selectAll("text")
	    //  .style("text-anchor", "end")
	    //  .attr("dx", "-.8em")
	    //  .attr("dy", "-.55em")
	    //  .attr("transform", "rotate(-90)" );

        canvasStackChart.append("g")
            .attr("class", "y axis")
            .call(d3.axisLeft(yStackChart))
            //.append("text")
            //.attr("transform", "rotate(-90)")
            //.attr("y", 6)
            //.attr("dy", ".71em")
            //.style("text-anchor", "end")
            //.text("No Of Buildings");

	canvasStackChart.append("g")
            .attr("class", "y1 axis")
	    .call(d3.axisRight(yLineChart))
	    .attr("transform", "translate( " + widthStackChart + ", 0 )")
	    .append("text")
	    .attr("fill", "#000")
	    .attr("transform", "rotate(-90)")
	    .attr("y", 6)
	    .attr("dy", "-0.71em")
	    .attr("text-anchor", "middle")
	    .text("Price   ");

        var bar_ch = canvasStackChart.selectAll(".trade")
            .data(data)
            .enter().append("g")
            .attr("class", "barchart")
            .attr("transform", function (d,i) { return "translate(" + widthStackChart/data.length*i + ",0)"; });

        bar_ch.selectAll("rect")
            .data(function (d) { return d.ages; })
            .enter().append("rect")
	    .attr("width", Math.max(1, xStackChart.bandwidth() ))
            .attr("y", function (d) { return yStackChart(d.y1); })
            .attr("height", function (d) { return yStackChart(d.y0) - yStackChart(d.y1); })
            .attr("val", function (d) { return d.y1 - d.y0; })
            .style("fill", function (d) { return colorStackChart(d.name); });

	// mean() and standard_deviation
	var vol = _pluck(ohlc_data, "volume");
	var vol_mean = nStats.mean(vol, vol.length - block_watch);
	var close_data = _pluck(ohlc_data, "close");
	var close_mean = nStats.mean(close_data, vol.length - block_watch);
	var close_sdev = nStats.sample_standard_deviation(close_data, vol.length - block_watch);
	var s_dev = nStats.sample_standard_deviation(vol, vol.length - block_watch);

	var stats_ch = canvasStackChart.append("g")
	      .attr("class", "stats")

	stats_ch.append("path")
	    .attr("class", "mean_line")
	    .attr("stroke", 'green')
	    .attr("stroke-dasharray", '5, 10')
	    .attr("fill", "none")
	    .attr("stroke-width", 0.5)
	    .attr("d", "M0,0 L"+widthStackChart+",0")
            .attr("transform", "translate(0," + yLineChart(close_mean) + ")" );
	stats_ch.append("path")
	    .attr("class", "sd_vol")
	    .attr("stroke", 'green')
	    .attr("stroke-dasharray", '15, 10, 5, 10')
	    .attr("fill", "none")
	    .attr("stroke-width", 0.5)
	    .attr("d", "M0,0 L"+widthStackChart+",0")
            .attr("transform", "translate(0," + yStackChart(vol_mean + (sd_90*s_dev)) + ")" );
	stats_ch.append("rect")
	    .attr("class", "sd_price")
	    .attr("x", 0)
	    .attr("y", yLineChart(close_mean + sd_90*close_sdev) )
	    .attr("width", widthStackChart)
	    .attr("height",  Math.abs(2*(yLineChart(close_mean + sd_90*close_sdev) -  yLineChart(close_mean))) )
	    .attr("fill", "blue")
	    .attr("opacity", 0.1 )
	    .attr("stroke", 'green')
	    .attr("stroke-dasharray", '15, 10, 5, 10')
	    .attr("stroke-width", 0.5)
            //.attr("transform", "translate(0," + yStackChart(mean + (sd_90*s_dev)) + ")" );

	// draw Buy/Sell legend
        var legend = canvasStackChart.selectAll(".legend")
            //.data(colorStackChart.domain().slice().reverse())
            .data(['Buy', 'Sell'])
            .enter().append("g")
            .attr("class", "legend")
            .attr("transform", function (d, i) { return "translate(0," + i * 20 + ")"; });

        legend.append("rect")
            .attr("x", 62)
            .attr("width", 16)
            .attr("height", 16)
            .style("fill", colorStackChart);

        legend.append("text")
            .attr("x", 58)
            .attr("y", 8)
            .attr("dy", ".35em")
            .style("text-anchor", "end")
            .text(function (d) { return d; });

	// draw volume line chart
	canvasStackChart.append("path")
              .attr("class", "line")
	      .attr("fill", "none")
	      .attr("stroke", "steelblue")
	      .attr("stroke-linejoin", "round")
	      .attr("stroke-linecap", "round")
	      .attr("stroke-width", 1.5)
	      .attr("d", valueline(ohlc_data));

	// techan stuff
	  var context = canvasStackChart.append("g")
	      .attr("class", "context")
	      .attr("transform", "translate(0," + margin2.top + ")");

	  context.append("g")
	      .attr("class", "axis axis--x")
	      .attr("transform", "translate(0," + height2 + ")")
	      .call(xAxis);
	  context.append("g")
	      .attr("class", "axis axis--y")
	      .attr("transform", "translate("+ widthStackChart +",0)")
	      .call(yAxis2)
	      .append("text")
              .attr("transform", "rotate(-90)")
              .attr("y", 30)
              .attr("fill", "black")
              .attr("dy", ".71em")
              .style("text-anchor", "end")
              .text("RSI");


	// draw techan RSI
	canvasStackChart.selectAll("g.context").datum(rsiData).call(rsi);
	//canvasStackChart.selectAll("g.context").datum(stochasticData).call(stochastic);
	//canvasStackChart.selectAll("g.context").datum(macdData).call(macd);
	//canvasStackChart.selectAll("g.context").datum(atrData).call(atr);


// mousedown code
	  var coordsGroup = canvasStackChart.append("g")
		.attr("class", "coords")

	  var coordsText = coordsGroup.append('text')
		.style("text-anchor", "start")
		.attr("x", widthStackChart + 5)
		.attr("y", 0);

	  var focus_line = canvasStackChart.append("g")
	      .attr("class", "focus_line")
	      .style("display", "none");
	  focus_line.append("path")
	      .attr("stroke-width", 0.5)
	      .attr("stroke", 'blue')
	      .attr("d", "M0,0 L0,"+(heightStackChart+marginStackChart.bottom));

	  var focus_bar = canvasStackChart.append("g")
	      .attr("class", "focus_bar")
	      .style("display", "none");

	  focus_bar.append("path")
	      .attr("stroke-width", 0.5)
	      .attr("stroke", 'blue')
	      .attr("d", "M0,0 L"+widthStackChart+",0");


	  var focus = canvasStackChart.append("g")
	      .attr("class", "focus")
	      .style("display", "none");

	  focus.append("circle")
	      .attr("r", 4.5);

	  focus.append("text")
	      .attr("x", 9)
	      .attr("class", 'tradeinfo')
	      .attr("dy", ".35em");

	  canvasStackChart.append("rect")
	      .attr("class", "overlay")
	      .attr("width", widthStackChart)
	      .attr("height", heightStackChart)
	      .on("mouseover", function() { 
			coordsGroup.style("display", null); 
			focus_line.style("display", null); 
			focus_bar.style("display", null); 
			focus.style("display", null); 
		})
	      .on("mouseout", function() { 
			coordsGroup.style("display", "none"); 
			focus_line.style("display", "none"); 
			focus_bar.style("display", "none"); 
			focus.style("display", "none"); 
		})
	      .on("mousemove", mousemove);


//  var bisectDate = d3.bisector(function(d) { return d.date; }).left;

	  function mousemove() {
	   if (data.length == 0) {  // yet to sync from server, hide info
		coordsGroup.style("display", "none"); 
		focus_line.style("display", "none"); 
		focus_bar.style("display", "none"); 
		focus.style("display", "none"); 
		return; 
	   } else {
		coordsGroup.style("display", null); 
		focus_line.style("display", null); 
		focus_bar.style("display", null); 
		focus.style("display", null); 
	   }
	    var eachBand = xStackChart.step(),
		halfBand = xStackChart.step()/2,
		index = Math.abs(Math.round(((d3.mouse(this)[0]- halfBand) / eachBand))),
		index = Math.min(data.length - 1, index), // limit index to last item
		val = xStackChart.domain()[index];
		d = data[index],
		translateY = yLineChart(ohlc_data[index].close), // y-level
		offsetX = (index < (data.length/2)) ? 0 : (App.check_utc ? -165 : -160 ); // move to left quadrant if too far right
		if (App.check_utc) {
			dateString = d.date.toUTCString().replace(/^([\s]*[\S]+) /,"").replace(d.date.getFullYear() + " ", "");;
		} else {
			//dateString = d.date.toTimeString().replace(/ \(Pacific Daylight Time\)/,'');
			dateString = d.date.toLocaleString().replace(d.date.getFullYear(), d.date.getFullYear().toString().substring(2,4) );
		}
	    focus.attr("transform", "translate(" + eachBand*(index+0.5) + "," + translateY + ")");
	    focus_line.attr("transform", "translate(" + eachBand*(index+0.5) + ",0)");
	    focus_bar.attr("transform", "translate(0," + translateY + ")");

	    focus.select("text").html("<tspan>Date: "+dateString+"</tspan><tspan  dy='1em' x='9'>Buy: "+d.Buy.toFixed(2)+"</tspan><tspan dy='1em' x='9'>BuyTrade: "+d.buyTrade.toFixed(2)+"</tspan><tspan dy='1.4em' x='9'>Sell: "+d.Sell.toFixed(2)+"</tspan><tspan dy='1em' x='9'>SellTrade: "+d.sellTrade.toFixed(2)+"</tspan>").attr("transform", "translate("+ offsetX +",0)");

	    coordsGroup.attr("transform", "translate(0,"+ translateY +")");
	    coordsText.text(ohlc_data[index].close);
	    fillBox('focus', offsetX );
	    fillBox('coords');
	  }

    }

    function fillBox(myElem, offsetX, offsetY, fill) {
	fill = fill || 'yellow';
	offsetX = offsetX || 0;
	offsetY = offsetY || 0;
	var ctx = document.getElementsByClassName(myElem)[0];
	var ctx_text = ctx.getElementsByTagName('text')[0];
	$(ctx).find('rect').remove(); // remove old rect
	SVGRect = ctx_text.getBBox();

	var rect = document.createElementNS("http://www.w3.org/2000/svg", "rect");
	    rect.setAttribute("x", SVGRect.x);
	    rect.setAttribute("y", SVGRect.y);
	    rect.setAttribute("width", SVGRect.width + 2);
	    rect.setAttribute("height", SVGRect.height + 2);
	    rect.setAttribute("fill", fill);
	    rect.setAttribute("transform", "translate("+offsetX+","+offsetY+")");
	    ctx.insertBefore(rect, ctx.firstChild);
    }

    function getTimeFormat() { 
	if (App.check_utc) { // UTC TIME
		return d3.utcFormat("%m-%d %I:%M");
	} else {
		return d3.timeFormat("%m-%d %I:%M")
	}
   }

    function _pluck(element, child, search_string) {
                // replacing _.pluck() with 'search' option
                var out = [];
                // pluck part
                $.each(element, function(key,value) {
                        out.push(value[child]);
                });
                // search part
                if (search_string != null) {
                        var out2 = []
                        $.each(out, function(key2,value2) {
                        if ((value2 != null) && (value2.indexOf(search_string) > -1)) {
                                out2.push(key2);
                        }
                        });
                        out = (out2.length == 0) ? [-1] : out2; // return [-1] if not found
                }
                return out;
    }

    // http://www.unm.edu/~marcusj/2Sampletex2.pdf 
    // updated: can pick from different object and slices
    function t_calc(myData, myClose, n_slices) { // 
	myClose = myClose || "close"; // use closing price
	n_slices = n_slices || block_watch; // block_watch == 12 slices, 6 minutes

	if ( (myData[0][myClose] === undefined) && (myData.length < 2*block_watch) ) { // at least two equal samples, else t-test is meaningless
	    return {"t":0 ,"dof":0,"std_err":0,"p_value":0.5, key: myClose }
	}

	var close_arr = _pluck(myData, myClose); // array of closing prices
	var close_final = close_arr.splice(close_arr.length - n_slices, close_arr.length); // filter out final block
    	var output = nStats.t_test2sample(close_final, close_arr)
    	output["key"] = myClose;
	if (output.t > 20) { output.t = 20 }; // fix it to max 20
	if (output.t < -20) { output.t = -20 }; // fix it to min -20
	return output;
    }

    // http://stockcharts.com/school/doku.php?id=chart_school:technical_indicators:money_flow_index_mfi
    function mfi_calc(myData) { // mfi of  last 'block_watch + 1' slices.
	var up_or_down, prev_price, plus_flow = [], minus_flow = [];
	if (myData.length < 2*block_watch) { 
		return 0;
	} else if (myData.length < (2*block_watch + 1)) {
		var tmp_idx = myData.length - 2*block_watch - 1;
	} else {
		var tmp_idx = myData.length - 2*block_watch;
	}
	for (var i = tmp_idx; i < myData.length; i++) { 
	    if (prev_price == undefined) {
		prev_price = myData[i].close;
	    } else {
		up_or_down = (myData[i].close - prev_price); 
		prev_price = myData[i].close;
		var typical_price = (myData[i].high + myData[i].low + myData[i].close)/3
		var raw_money_flow = typical_price * myData[i].volume;
		if (up_or_down > 0) { // positive money flow
			plus_flow.push(raw_money_flow);
		} else { // negative money flow
			minus_flow.push(raw_money_flow);
		}
	    }
	}

	var money_flow_ratio = nStats.sum(plus_flow) / nStats.sum(minus_flow);
	var money_flow_index = 100 - 100/(1 + money_flow_ratio);
//console.log(money_flow_ratio, plus_flow, minus_flow)
	return money_flow_index;
    }

    function vol_buysell(myData) { // total up buy and sell volume, up to 'block_watch' slices
	var buy_vol = 0, sell_vol = 0;
	if (myData.length < block_watch) { 
	    return { 'buy': 0, 'sell': 0 };
	} else {
	    var tmp_idx = myData.length - block_watch - 1;
	    for (var i = tmp_idx; i < myData.length; i++) { 
		buy_vol += myData[i].Buy;
		sell_vol += myData[i].Sell;
	    }
	    return { 'buy': buy_vol, 'sell': sell_vol };

	}
    }

</script>

</body>
</html>


