<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Alvin Khoo (c) 2017">

    <title>Vue Stack 1</title>

    <!-- Bootstrap Core CSS -->
    <!-- link rel="stylesheet" href="welcome/css/bootstrap.min.css" type="text/css" -->

    <!-- Custom Fonts -->
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic" />
    <link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" href="//unpkg.com/vue-material/dist/vue-material.css" />

   <style>
.main-content {
  padding: 16px;
}
input {
    font-size: 16px;
}

.overlay {
  fill: none;
  pointer-events: all;
}

.focus circle {
  fill: none;
  stroke: steelblue;
}
</style>
</head>

<div id="app">
    <md-toolbar>
        <h1 class="md-title">
            <md-icon>fingerprint</md-icon>Vue Test</h1>
    </md-toolbar>

    <div class="main-content">

        <div>
            <md-button id="go" class="md-raised md-primary" v-on:click.native="reDraw">Reload Data</md-button>
            <select id="pair" v-model="selected" onchange="onChangeCoin()">
                <option v-for="option in options" v-bind:value="option">
                {{ option }}
                </option>
            </select>
            <input id="start" class="md-input" type="text" value="2017-05-06T22:30:00Z" style="width:240px"></input>

            <input id="daterange1" type="range" step="1"  onchange="shiftDates(this)" oninput="setDateBoxes()">
            <input id="daterange2" type="range" step="1"  onchange="shiftDates(this)" oninput="setDateBoxes()">

            <input id="end" type="text" value="2017-05-07T00:30:00Z" style="width:240px"></input>
            <!--<input id="shift" type="text" style="width: 50px" value="30"></input>-->
            <select id="interval" v-model="interval" onchange="onChange()">
                <option v-for="option in interval_option" v-bind:value="option">
                {{ option }}
                </option>
            </select>
            <button onclick="shifttime('down')"><<</button>
            <button onclick="shifttime('up')">>></button>
            <select id="slice_size" v-model="slice_size" onchange="onChange()">
                <option v-for="option in slice_option" v-bind:value="option">
                {{ option }}
                </option>
            </select> Aggregate
        </div>

        <div id="Dash"></div>
    </div>
</div>

<script src="//d3js.org/d3.v4.min.js"></script>
<script src="//d3js.org/d3-transition.v1.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/crossfilter/1.3.12/crossfilter.min.js"></script>
<script src="//d3js.org/d3-time.v1.min.js"></script>
<script src="//d3js.org/d3-time-format.v2.min.js"></script>

<script src="//ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="//unpkg.com/vue"></script>
<script src="//unpkg.com/vue-material@0.7.1"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>

<script>

   
    function shiftDates(slider){
        var which
        if(slider.getAttribute('id')=="daterange1"){
            which = cstart
        }else{
            which = cend
        }
        which.value = unixTimeStampToUTC(slider.value)
        // fDate = utcToUnixTimeStamp(cstart.value)
        // lDate = utcToUnixTimeStamp(cend.value)
        
        redrawChart()
        
    }
    
    var onChange = function(){
        setTimeout(function(){
            setInitialView(true)
        },250)
    }
    var onChangeCoin = function(){
        setTimeout(function(){
            jQuery("#go").trigger("click")
        },1000)
    }

    var coin_pairs = ["BTC_AMP", "BTC_ARDR", "BTC_BCN", "BTC_BCY", "BTC_BELA", "BTC_BLK", "BTC_BTCD", "BTC_BTM", "BTC_BTS", "BTC_BURST", "BTC_CLAM", "BTC_DASH", "BTC_DCR", "BTC_DGB", "BTC_DOGE", "BTC_EMC2", "BTC_ETC", "BTC_ETH", "BTC_EXP", "BTC_FCT", "BTC_FLDC", "BTC_FLO", "BTC_GAME", "BTC_GNO", "BTC_GNT", "BTC_GRC", "BTC_HUC", "BTC_LBC", "BTC_LSK", "BTC_LTC", "BTC_MAID", "BTC_NAUT", "BTC_NAV", "BTC_NEOS", "BTC_NOTE", "BTC_NXC", "BTC_NXT", "BTC_OMNI", "BTC_PASC", "BTC_PINK", "BTC_POT", "BTC_PPC", "BTC_RADS", "BTC_REP", "BTC_RIC", "BTC_SBD", "BTC_SC", "BTC_SJCX", "BTC_STEEM", "BTC_STR", "BTC_STRAT", "BTC_SYS", "BTC_VIA", "BTC_VRC", "BTC_VTC", "BTC_XBC", "BTC_XCP", "BTC_XEM", "BTC_XMR", "BTC_XPM", "BTC_XRP", "BTC_ZEC", "ETH_GNO", "ETH_GNT", "ETH_LSK", "ETH_STEEM", "USDT_BTC", "USDT_DASH", "USDT_ETC", "USDT_ETH", "USDT_LTC", "USDT_NXT", "USDT_REP", "USDT_STR", "USDT_XMR", "USDT_XRP", "USDT_ZEC", "XMR_DASH", "XMR_ZEC", "BTC_NMC", "BTC_XVC", "ETH_ETC", "ETH_REP", "ETH_ZEC", "XMR_BCN", "XMR_BLK", "XMR_BTCD", "XMR_MAID", "XMR_NXT", "XMR_LTC"];
    var slice_size = ["1","2","3","4","5","6","7","8"]
    var time_interval = ["1","5","10","30","60","300","720","1440"]
    /* Vue stuff */
    Vue.use(VueMaterial)

    var App = new Vue({
        el: '#app',
        data: {
            message: 'Hello Vue.js!',
            options: coin_pairs,
            slice_option: slice_size,
            slice_size: '1',
            interval_option: time_interval,
            interval: '1',
            selected: 'BTC_LTC'
        },
        methods: {
            reDraw: function () {
                loadAllData(function(){
                    setInitialView(true);
                });
            }
        }

    })

    var fDate , lDate, cstart, cend
    var cdaterange1, cdaterange2

    /* jquery stuff */
    $(document).ready(function () {
        loadAllData(function(){
            
            setInitialView()

        })
        setInterval(function(){
            loadNewData()
        },30000)
        
    });

    function setInitialView(redraw){
        fDate = getEarliestDate()
        lDate = getLatestDate()
        cstart = document.getElementById('start')
        cend = document.getElementById('end')
        cdaterange1 = document.getElementById('daterange1')
        cdaterange2 =  document.getElementById('daterange2')
        cdaterange1.setAttribute("min",fDate) 
        cdaterange1.setAttribute("max",moment.unix(lDate).subtract(30,"minutes").unix() )
        cdaterange1.value =   moment.unix(lDate).subtract(1,"hour").unix()
        cdaterange1.setAttribute("step", 1)
        cdaterange2.setAttribute("min",fDate)
        cdaterange2.setAttribute("max",moment.unix(lDate).add(10,"minutes").unix() )
        cdaterange2.setAttribute("step", 1)
        cdaterange2.value =  moment.unix(lDate).add(1,"minutes").unix()  

        setDateBoxes()

        if(redraw){
          redrawChart()
        }else{
          drawStackChart()
        }
        
    }
    function setDateBoxes(){
        cstart.value = unixTimeStampToUTC(cdaterange1.value)
        cend.value = unixTimeStampToUTC(cdaterange2.value)

        cdaterange1.setAttribute("max",moment.unix(lDate).subtract(30,"minutes").unix() )
        cdaterange2.setAttribute("max",moment.unix(lDate).add(10,"minutes").unix() )
    }
    function shifttime(direction) {
        var shift = App.interval  //jQuery("#interval").val()
        if (direction == "down") {
            shift = -shift
        } 
        cdaterange1.value = unixAddTime(cdaterange1.value,shift,"minutes")
        cdaterange2.value = unixAddTime(cdaterange2.value,shift,"minutes")
        
        setDateBoxes()

        redrawChart()

    }

    /* d3 stuff */

       var t = d3.transition()
	.duration(750)
	.ease(d3.easeLinear);

    //Draw Stack Chart
    var marginStackChart = { top: 20, right: 80, bottom: 30, left: 80 },
            widthStackChart = 950 - marginStackChart.left - marginStackChart.right,
            heightStackChart = 500 - marginStackChart.top - marginStackChart.bottom;

    var xStackChart = d3.scaleTime()
	    .range([0, widthStackChart])
	    //.padding(0.1);
    var yStackChart = d3.scaleLinear()
	    .range([heightStackChart, 0]);
    var yLineChart = d3.scaleLinear()
	    .range([heightStackChart, 0]);



    var colorStackChart = d3.scaleOrdinal(["#00AA00", "#FF0000", "#7b6888", "#6b486b", "#a05d56",  "#ff8c00"])


    var canvasStackChart = d3.select("#Dash").append("svg")
        .attr("width", widthStackChart + marginStackChart.left + marginStackChart.right)
        .attr("height", heightStackChart + marginStackChart.top + marginStackChart.bottom)
        .append("g")
        .attr("class", 'trade')
        .attr("transform", "translate(" + marginStackChart.left + "," + marginStackChart.top + ")");

    var div = d3.select("body").append("div")
        .attr("class", "tooltip")
        .style("opacity", 0);

    var valueline = d3.line()
	.x(function (d,i) { return widthStackChart/data.length*i })
	.y(function (d) { return yLineChart(d.price) });

    var data = [], line_data = [];

    var xAxis = d3.axisBottom(xStackChart)
	.tickFormat(d3.timeFormat("%m-%d %I:%M"));

    var all_Data = []

    function redrawChart() {
        //var json_api = 'https://web.abstractsoftware.ca/api/returnPair?pair=' + App.selected + '&start=' + document.getElementById("start").value + '&end=' + document.getElementById("end").value

        try{
            data = [], line_data = []; // init data again
            
            var raw_data = filterDates()

                /** aggregateData takes 2 parameters, 
                 * (data,slices) slices is the number of
                 * items to aggregate into each 1 new item,
                 * if ommitted the default is 5
                 */
                raw_data = aggregateData(raw_data, App.slice_size)

                for (let i = 0; i < raw_data.length; i++) {
                    dateEnd = new Date(raw_data[i].dateEnd);
                    buy_ratio = parseFloat(raw_data[i]["buy"]["amount"] );
                    sell_ratio = parseFloat(raw_data[i]["sell"]["amount"] );
                    data.push({ 'tradeDate': dateEnd, 'Buy': buy_ratio, 'Sell': sell_ratio })
                    line_data.push({ 'tradeDate': dateEnd, 'price': raw_data[i].close })
                }
	    

                data.forEach(function (d) {
                    var y0 = 0;
                    d.ages = colorStackChart.domain().map(function (name) { return { name: name, y0: y0, y1: y0 += +d[name] }; });
                    d.total = d.ages[d.ages.length - 1].y1;
                });

                data.sort(function (a, b) { return a.tradeDate - b.tradeDate; });
                line_data.sort(function (a, b) { return a.tradeDate - b.tradeDate; });

                //xStackChart.domain(data.map(function (d) { return d.tradeDate; }));
                xStackChart.domain([data[0].tradeDate,data[data.length-1].tradeDate]);
                yStackChart.domain([0, d3.max(data, function (d) { return d.total*1.5; })]);
                yLineChart.domain([d3.min(line_data, function (d) { return d.price; })/1.2, d3.max(line_data, function (d) { return d.price; }) ]);

                canvasStackChart.select(".y.axis")
                .transition(t)
                        .call(d3.axisLeft(yStackChart));

                canvasStackChart.select(".line")
                .transition(t)
                .attr("d", valueline(line_data));

                canvasStackChart.select(".y1.axis")
                .transition(t)
                .call(d3.axisRight(yLineChart))

                canvasStackChart.select(".x")
                .transition(t)
                .call(xAxis);

                canvasStackChart.selectAll(".barchart").remove(); // zap

                var state = canvasStackChart.selectAll(".trade")
                    .data(data)
                    .enter().append("g")
                    .attr("class", "barchart")
                    .attr("transform", function (d,i) { return "translate(" + widthStackChart/data.length*i + ",0)"; });

                    state.selectAll("rect")
                    .data(function (d) { return d.ages; })
                    .enter().append("rect")
                .attr("width", Math.max(1, widthStackChart/data.length ))
                    .attr("y", function (d) { return yStackChart(d.y1); })
                    .attr("height", function (d) { return yStackChart(d.y0) - yStackChart(d.y1); })
                    .attr("val", function (d) { return d.y1 - d.y0; })
                    .style("fill", function (d) { return colorStackChart(d.name); });


                $('.trade').append($('.overlay'));


        }catch(e){}

        

    }

    function drawStackChart() {
        d3.selectAll("svg g > *").remove()

        // var json_api = 'https://web.abstractsoftware.ca/api/returnPair?pair=' + App.selected + '&start=' + document.getElementById("start").value + '&end=' + document.getElementById("end").value

        var raw_data = filterDates()

            /** aggregateData takes 2 parameters, 
             * (data,slices) slices is the number of
             * items to aggregate into each 1 new item,
             * if ommitted the default is 5
              */
            raw_data = aggregateData(raw_data,App.slice_size)
            
            for (let i = 0; i < raw_data.length; i++) {
                total = raw_data[i]["buy"]["amount"]  + raw_data[i]["sell"]["amount"] ;
                dateEnd = new Date(raw_data[i].dateEnd);
                buy_ratio = parseFloat(raw_data[i]["buy"]["amount"] );
                sell_ratio = parseFloat(raw_data[i]["sell"]["amount"] );
                data.push({ 'tradeDate': dateEnd, 'Buy': buy_ratio, 'Sell': sell_ratio })
                line_data.push({ 'tradeDate': dateEnd, 'price': raw_data[i].close })
            }

            colorStackChart.domain(d3.keys(data[0]).filter(function (key) { return key !== "tradeDate"; }));

            data.forEach(function (d) {
                var y0 = 0;
                d.ages = colorStackChart.domain().map(function (name) { return { name: name, y0: y0, y1: y0 += +d[name] }; });
                d.total = d.ages[d.ages.length - 1].y1;
            });

            data.sort(function (a, b) { return a.tradeDate - b.tradeDate; });
            line_data.sort(function (a, b) { return a.tradeDate - b.tradeDate; });

            //xStackChart.domain(data.map(function (d) { return d.tradeDate; }));
            xStackChart.domain([data[0].tradeDate,data[data.length-1].tradeDate]);
            yStackChart.domain([0, d3.max(data, function (d) { return d.total*1.5; })]);
            yLineChart.domain([d3.min(line_data, function (d) { return d.price; })/1.2, d3.max(line_data, function (d) { return d.price; }) ]);

            // x-axis ticker, dont need
            canvasStackChart.append("g")
            .attr("class", "x axis")
            .attr("transform", "translate(0," + heightStackChart + ")")
            .call(xAxis)
            //.selectAll("text")
            //  .style("text-anchor", "end")
            //  .attr("dx", "-.8em")
            //  .attr("dy", "-.55em")
            //  .attr("transform", "rotate(-90)" );

            canvasStackChart.append("g")
            .attr("class", "y axis")
            .call(d3.axisLeft(yStackChart))
            .append("text")
            .attr("transform", "rotate(-90)")
            .attr("y", 6)
            .attr("dy", ".71em")
            .style("text-anchor", "end")
            .text("No Of Buildings");

            canvasStackChart.append("g")
                .attr("class", "y1 axis")
                .call(d3.axisRight(yLineChart))
                .attr("transform", "translate( " + widthStackChart + ", 0 )")
                .append("text")
                .attr("fill", "#000")
                .attr("transform", "rotate(-90)")
                .attr("y", 6)
                .attr("dy", "-0.71em")
                .attr("text-anchor", "middle")
                .text("Price   ");

            var state = canvasStackChart.selectAll(".trade")
                .data(data)
                .enter().append("g")
                .attr("class", "barchart")
                .attr("transform", function (d,i) { return "translate(" + widthStackChart/data.length*i + ",0)"; });

            state.selectAll("rect")
                .data(function (d) { return d.ages; })
                .enter().append("rect")
                .attr("width", Math.max(1, widthStackChart/data.length ))
                .attr("y", function (d) { return yStackChart(d.y1); })
                .attr("height", function (d) { return yStackChart(d.y0) - yStackChart(d.y1); })
                .attr("val", function (d) { return d.y1 - d.y0; })
                .style("fill", function (d) { return colorStackChart(d.name); });

            var legend = canvasStackChart.selectAll(".legend")
                .data(colorStackChart.domain().slice().reverse())
                .enter().append("g")
                .attr("class", "legend")
                .attr("transform", function (d, i) { return "translate(-20," + i * 20 + ")"; });

            legend.append("rect")
                .attr("x", widthStackChart - 18)
                .attr("width", 18)
                .attr("height", 18)
                .style("fill", colorStackChart);

            legend.append("text")
                .attr("x", widthStackChart - 24)
                .attr("y", 9)
                .attr("dy", ".35em")
                .style("text-anchor", "end")
                .text(function (d) { return d; });

	    // draw volume line chart
            canvasStackChart.append("path")
            .attr("class", "line")
            .attr("fill", "none")
            .attr("stroke", "steelblue")
            .attr("stroke-linejoin", "round")
            .attr("stroke-linecap", "round")
            .attr("stroke-width", 1.5)
            .attr("d", valueline(line_data));

            // mousedown code
            var focus = canvasStackChart.append("g")
                .attr("class", "focus")
                .style("display", "none");

            focus.append("circle")
                .attr("r", 4.5);

            focus.append("text")
                .attr("x", 9)
                .attr("dy", ".35em");

            canvasStackChart.append("rect")
                .attr("class", "overlay")
                .attr("width", widthStackChart)
                .attr("height", heightStackChart)
                .on("mouseover", function() { focus.style("display", null); })
                .on("mouseout", function() { focus.style("display", "none"); })
                .on("mousemove", mousemove);

            var bisectDate = d3.bisector(function(d) { return d.tradeDate; }).left;

            function mousemove() {
                var x0 = xStackChart.invert(d3.mouse(this)[0]),
                    i = bisectDate(data, x0, 1),
                    d0 = data[i - 1],
                    d1 = data[i],
                    d = x0 - d0.tradeDate > d1.tradeDate - x0 ? d1 : d0;
                    i = x0 - d0.tradeDate > d1.tradeDate - x0 ? i : (i - 1);
                focus.attr("transform", "translate(" + xStackChart(d.tradeDate) + "," + yLineChart(line_data[i].price) + ")");
                //focus.attr("transform", "translate(" + (d3.mouse(this)[0]-3) + "," + d3.mouse(this)[1] + ")");
                focus.select("text").html("<tspan>Sell:"+d.Sell.toFixed(2)+"</tspan><tspan dy='.85em' x='9'>Buy:"+d.Buy.toFixed(2)+"</tspan>");
            }
    }

     function aggregateData(data,slices){
        var  tmp=[]
        var itemArray=[] 
        
        if(!slices){slices=4}
        if(slices == 1){return data}

        do {
            var startIndex = data.length-1
            var endIndex = Math.max(startIndex-slices,0)

            tmp = data.splice(endIndex)
            var oAgg = newAggregateObject()

            tmp.forEach(function(element, index) {
                if(index==0){  //first item will be the latest date, use these dates as timestamps
                    oAgg.dateEnd = element.dateEnd
                    oAgg.endTradeId = element.endTradeId
                    oAgg.close = element.close
                }  
                oAgg.open = oAgg.open || element.sell.price  //
                oAgg.low = Math.min(oAgg.low,element.sell.price, element.buy.price)
                oAgg.high = Math.max(oAgg.high, element.sell.price, element.buy.price)

                oAgg.dateStart = element.dateStart  // set each time, the last one will end up the first date
                oAgg.startTradeId = element.startTradeId // set each time, " "

                oAgg.sell.price = oAgg.sell.price || element.sell.price  //first is most recent
                oAgg.sell.amount += parseFloat(element.sell.amount)
                oAgg.sell.total += parseFloat(element.sell.total)
                oAgg.sell.trades += parseInt(element.sell.trades)

                oAgg.buy.price = oAgg.buy.price || element.buy.price  //first is most recent
                oAgg.buy.amount += parseFloat(element.buy.amount)
                oAgg.buy.total += parseFloat(element.buy.total)
                oAgg.buy.trades += parseInt(element.buy.trades)

            })

            itemArray.unshift(oAgg)

        } while (data.length > 0);

        return itemArray
    }
    function newAggregateObject(){
        return {
                    dateStart: "",
                    dateEnd: "",
                    startTradeId: "",
                    endTradeId: "",
                    high: 0,
                    low: 999999999, //so Math.min works
                    open: "",
                    close: 0,
                    sell:{
                        price: "",
                        amount: 0,
                        total: 0,
                        trades: 0 
                    },
                    buy:{
                        price: "",
                        amount: 0,
                        total: 0,
                        trades: 0
                    }
                }
    }

    function loadAllData(callback){
        var API = 'https://web.abstractsoftware.ca/api/returnPair?pair=' + App.selected + '&start=' + moment.utc().subtract(6,"weeks").format() + '&end=' + moment.utc().add(1,"hour").format()
        d3.json(API,function(raw_data){
            all_Data=raw_data
            if(callback){
                callback()
            }
        })
    }
    function loadNewData(){
        var API = 'https://web.abstractsoftware.ca/api/returnPair?pair=' + App.selected + '&start=' + moment.utc(all_Data[0].dateEnd).add(1,"second").format() + '&end=' + moment.utc(all_Data[0].dateEnd).add(1,"hour").format()
        d3.json(API,function(new_Data){
            if(new_Data && new_Data.length > 0){
                lDate = utcToUnixTimeStamp(new_Data[0].dateEnd)
               all_Data = mergeArrays(new_Data,all_Data)
               
               var tmp = App.interval
               App.interval = .5
               shifttime('up')
               App.interval = tmp
            }
        })
    }
    /** helper method for merging 2 arrays,   */
    function mergeArrays() {
        return [].concat.apply([], arguments);
    }

    function filterDates(){
        return all_Data.filter(function(item){
            return item.dateStart >= document.getElementById("start").value && item.dateEnd <= document.getElementById("end").value
        })
    }
    function getMaxBuyVolume(){
        return Math.max.apply(Math,all_Data.map(function(o){return o.buy.amount}))
    }
    function getMaxSellVolume(){
        return Math.max.apply(Math,all_Data.map(function(o){return o.sell.amount}))
    }
    function getMinBuyVolume(){
        return Math.min.apply(Math,all_Data.map(function(o){return o.buy.amount}))
    }
    function getMinSellVolume(){
        return Math.min.apply(Math,all_Data.map(function(o){return o.sell.amount}))
    }
    function getHighPrice(){
        return Math.max.apply(Math,all_Data.map(function(o){return o.high}))
    }
    function getLowPrice(){
        return Math.min.apply(Math,all_Data.map(function(o){return o.low}))
    }
    function getEarliestDate(){
        var date = new Date(Math.min.apply(null, all_Data.map(function(e) {
                    return new Date(e.dateStart);
                })));
        return utcToUnixTimeStamp(dateToUTC(date))
    }
    function getLatestDate(){
        return utcToUnixTimeStamp(all_Data[0].dateEnd)
    }


    function unixTimeStampToUTC(timestamp){
        return moment.utc(moment.unix(timestamp)).format()
    }
    function utcToUnixTimeStamp(utc){
        return parseInt(moment.utc(utc).unix())
    }
    function dateToUTC(t){
        return moment.utc(t).format()
    }
    function utcAddTime(tdate,tinterval, ttype){
        return moment.utc(tdate).add(tinterval, ttype).format()
    }
    function unixAddTime(unix,tinterval,ttype){
        return moment.unix(unix).add(tinterval,ttype).unix()
    }
    function unixAddTimeToUTC(unix,tinterval,ttype){
        return moment.unix(unix).add(tinterval,ttype).utc().format()
    }
</script>

</body>

</html>