
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Alvin Khoo (c) 2017">

    <title>Vue Stack 1</title>

    <!-- Bootstrap Core CSS -->
    <!-- link rel="stylesheet" href="welcome/css/bootstrap.min.css" type="text/css" -->

    <!-- Custom Fonts -->
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic" />
    <link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" href="//unpkg.com/vue-material/dist/vue-material.css" />

<style>

@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,700);
<!-- Brush CSS -->
  body {
    font-family: 'Helvetica Neue';
    margin: 40px auto;
    width: 960px;
    min-height: 2000px;
  }

  #body {
    position: relative;
  }

  footer {
    padding: 2em 0 1em 0;
    font-size: 12px;
  }

  h1 {
    font-size: 96px;
    margin-top: .3em;
    margin-bottom: 0;
  }

  h1 + h2 {
    margin-top: 0;
  }

  h2 {
    font-weight: 400;
    font-size: 28px;
  }

  h1, h2 {
    font-family: 'Yanone Kaffeesatz';
    text-rendering: optimizeLegibility;
  }

  #body > p {
    line-height: 1.5em;
    width: 640px;
    text-rendering: optimizeLegibility;
  }

  #charts {
    padding: 10px 0;
  }

  .chart {
    display: inline-block;
    height: 151px;
    margin-bottom: 20px;
  }

  .reset {
    padding-left: 1em;
    font-size: smaller;
    color: #ccc;
  }

  .background.bar {
    fill: #ccc;
  }

  .foreground.bar {
    fill: steelblue;
  }

  .brush-handle {
    fill: #eee;
    stroke: #666;
  }

  #price-chart {
    width: 180px;
  }

  #buy-chart {
    width: 180px;
  }

  #sell-chart {
    width: 180px;
  }

  #date-chart {
    width: 740px;
  }

  #backtest-list {
    min-height: 1024px;
  }

  #backtest-list .date,
  #backtest-list .day {
    margin-bottom: .4em;
  }

  #backtest-list .backtest {
    line-height: 1.5em;
    background: #eee;
    width: 925px;
    margin-bottom: 1px;
  }

  #backtest-list .time {
    color: #999;
  }

  #backtest-list .backtest div {
    display: inline-block;
  }

  #backtest-list div.time {
    width: 100px;
    text-align: left;
  }

  #backtest-list div.origin {
    width: 50px;
    text-align: right;
    padding-right: 15px;
  }

  #backtest-list div.destination {
    width: 100px;
    text-align: left;
    padding-left: 15px;
  }

  #backtest-list div.distance {
    width: 100px;
    text-align: left;
  }

  #backtest-list div.delay {
    width: 120px;
    padding-right: 0px;
    text-align: right;
  }

  #backtest-list .early {
    color: green;
  }

  aside {
    position: absolute;
    left: 740px;
    font-size: smaller;
    width: 220px;
  }


</style>
</head>

<div id="app">
  
  <div class="main-content">
	<div>
	  <button id="go" class="md-raised md-primary" v-on:click="drawBrush">BarChart</button>
                <select id="pair" v-model="selected">
                  <option v-for="option in options" v-bind:value="option">
                    {{ option }}
                  </option>
                </select>
      <input id="start" type="text" value="2017-05-06T22:30:00Z" style="width:240px"></input><input id="end" type="text" value="2017-05-07T00:30:00Z" style="width:240px"></input><input id="shift" type="text" style="width: 50px" value="30"></input><button onclick="shifttime('down')"><<</button><button onclick="shifttime('up')">>></button>
	</div>

  </div>
</div>

<!-- Brush UI -->
  <div id='charts'>
    <div id='price-chart' class='chart'>
      <div class='title'>Price t-test</div>
    </div>
    <div id='buy-chart' class='chart'>
      <div class='title'>Buy t-test</div>
    </div>
    <div id='sell-chart' class='chart'>
      <div class='title'>Sell t-test</div>
    </div>
    <div id='date-chart' class='chart'>
      <div class='title'>Date</div>
    </div>
  </div>
  <aside id='totals'><span id='active'>-</span> of <span id='total'>-</span> backtests selected.</aside>
  <div id='lists'>
    <div id='backtest-list' class='list'></div>
  </div>

<!-- chart UI -->

<script src="//d3js.org/d3.v4.min.js"></script>
<script src="//d3js.org/d3-transition.v1.min.js"></script>
<script src="//d3js.org/d3-time.v1.min.js"></script>
<script src="//d3js.org/d3-time-format.v2.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/crossfilter/1.3.12/crossfilter.min.js"></script>
<script src="nodeStatsBrowser.js"></script>

<script src="//ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
<script src="//unpkg.com/vue"></script>
<script src="//unpkg.com/vue-material@0.7.1"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<script>
function shifttime(direction){
    var shift = jQuery("#shift").val()
    var start = jQuery("#start").val()
    var end = jQuery("#end").val()
    if (direction=="down"){
        shift = -shift
    }else{
        shift = shift
    }
    jQuery("#start").val( moment.utc(start).add(shift,"minutes").format() )
    jQuery("#end").val( moment.utc(end).add(shift,"minutes").format() )
    jQuery("#go").trigger('click');
    
}

var coin_pairs = ["BTC_AMP", "BTC_ARDR", "BTC_BCN", "BTC_BCY", "BTC_BELA", "BTC_BLK", "BTC_BTCD", "BTC_BTM", "BTC_BTS", "BTC_BURST", "BTC_CLAM", "BTC_DASH", "BTC_DCR", "BTC_DGB", "BTC_DOGE", "BTC_EMC2", "BTC_ETC", "BTC_ETH", "BTC_EXP", "BTC_FCT", "BTC_FLDC", "BTC_FLO", "BTC_GAME", "BTC_GNO", "BTC_GNT", "BTC_GRC", "BTC_HUC", "BTC_LBC", "BTC_LSK", "BTC_LTC", "BTC_MAID", "BTC_NAUT", "BTC_NAV", "BTC_NEOS", "BTC_NOTE", "BTC_NXC", "BTC_NXT", "BTC_OMNI", "BTC_PASC", "BTC_PINK", "BTC_POT", "BTC_PPC", "BTC_RADS", "BTC_REP", "BTC_RIC", "BTC_SBD", "BTC_SC", "BTC_SJCX", "BTC_STEEM", "BTC_STR", "BTC_STRAT", "BTC_SYS", "BTC_VIA", "BTC_VRC", "BTC_VTC", "BTC_XBC", "BTC_XCP", "BTC_XEM", "BTC_XMR", "BTC_XPM", "BTC_XRP", "BTC_ZEC", "ETH_GNO", "ETH_GNT", "ETH_LSK", "ETH_STEEM", "USDT_BTC", "USDT_DASH", "USDT_ETC", "USDT_ETH", "USDT_LTC", "USDT_NXT", "USDT_REP", "USDT_STR", "USDT_XMR", "USDT_XRP", "USDT_ZEC", "XMR_DASH", "XMR_ZEC", "BTC_NMC", "BTC_XVC", "ETH_ETC", "ETH_REP", "ETH_ZEC", "XMR_BCN", "XMR_BLK", "XMR_BTCD", "XMR_MAID", "XMR_NXT", "XMR_LTC"];

/* Vue stuff */
Vue.use(VueMaterial)

var App = new Vue({
  el: '#app',
  data: {
    message: 'Hello Vue.js!',
    options: coin_pairs,
    selected: 'BTC_AMP'
  },
  methods: {
    drawBrush: function () {
      init();
    }
  }

})

/* Axios stuff */
axios.get('/polo/php/backtest')
  .then(function (response) {
    console.log(response.data);
    if (response.data.length > 0) {
	App.options = response.data; // update data
	App.selected = response.data[0]; // update data
    }
  })
  .catch(function (error) {
    console.log(error);
  });

/* jquery stuff */
    $(document).ready(function () {
        init();
    });

/* d3 stuff */

/* global d3 crossfilter reset */
var backtests; 
function init() {
// (It's CSV, but GitHub Pages only gzip's JSON at the moment.)
	$('svg').remove();
	d3.json('/polo/php/backtest?pair='+App.selected, (error, data) => {
	  console.log(data.length);
	  backtests = data;

	  // Various formatters.
	  var formatNumber = d3.format(',d');

	  var formatChange = d3.format('+,d');
	  var formatDate = d3.timeFormat('%B %d, %Y');
	  var formatTime = d3.timeFormat('%I:%M %p');

	  // A nest operator, for grouping the backtest list.
	  var nestByDate = d3.nest()
	    .key(d => d3.timeDay(d.date));

	  // A little coercion, since the CSV is untyped.
	  backtests.forEach((d, i) => {
	    d.index = i;
	    d.date = parseDate(d.endDate);
	    d.startDate = parseDate(d.startDate);
	    d.tprice = +d.tprice;
	    d.tbuy = +d.tbuy;
	    d.tsell = +d.tsell;
	  });

	  // Create the crossfilter for the relevant dimensions and groups.
	  var backtest = crossfilter(backtests);

	  var all = backtest.groupAll();
	  var date = backtest.dimension(d => d.date);
	  var dates = date.group(d3.timeDay);
	  var price = backtest.dimension(d => d.max_tprice);
	  var prices = price.group(Math.floor);
	  var buy = backtest.dimension(d => d.count_tbuy);
	  var buys = buy.group(Math.floor);
	  var sell = backtest.dimension(d => d.count_tsell);
	  var sells = sell.group(Math.floor);

	  var charts = [

	    barChart()
	      .dimension(price)
	      .group(prices)
	      .x(d3.scaleLinear()
		.domain([-20, 20])
		.rangeRound([0, 10 * 16])),

	    barChart()
	      .dimension(buy)
	      .group(buys)
	      .x(d3.scaleLinear()
		  .domain([-5, 20])
		  .rangeRound([0, 10 * 16])),

	    barChart()
	      .dimension(sell)
	      .group(sells)
	      .x(d3.scaleLinear()
		  .domain([-5, 20])
		  .rangeRound([0, 10 * 16])),

	    barChart()
	      .dimension(date)
	      .group(dates)
	      .round(d3.timeDay.round)
	      .x(d3.scaleTime()
		.domain([ backtests[0].date, moment(backtests[backtests.length-1].date).add(1, 'days') ])
		.rangeRound([0, 10 * 60]))
	      //.filter([new Date(2001, 1, 1), new Date(2001, 2, 1)]),

	  ];

	  // Given our array of charts, which we assume are in the same order as the
	  // .chart elements in the DOM, bind the charts to the DOM and render them.
	  // We also listen to the chart's brush events to update the display.
	  var chart = d3.selectAll('.chart')
	    .data(charts);

	  // Render the initial lists.
	//  const list = d3.selectAll('.list')
	//    .data([backtestList]);

	  // Render the total.
	  d3.selectAll('#total')
	    .text(formatNumber(backtest.size()));

	  renderAll();

	  // Renders the specified chart or list.
	  function render(method) {
	    d3.select(this).call(method);
	  }

	  // Whenever the brush moves, re-rendering everything.
	  function renderAll() {
	    chart.each(render);
	    //list.each(render);
	    d3.select('#active').text(formatNumber(all.value()));
	  }

	  // Like d3.timeFormat, but faster.
	  function parseDate(d) {
		return moment.utc(d).toDate();
	  }

	  window.filter = filters => {
	    filters.forEach((d, i) => { charts[i].filter(d); });
	    renderAll();
	  };

	  window.reset = i => {
	    charts[i].filter(null);
	    renderAll();
	  };

	/*  function backtestList(div) {
	    const backtestsByDate = nestByDate.entries(date.top(40));

	    div.each(function () {
	      const date = d3.select(this).selectAll('.date')
		.data(backtestsByDate, d => d.key);

	      date.exit().remove();

	      date.enter().append('div')
		.attr('class', 'date')
		.append('div')
		  .attr('class', 'day')
		  .text(d => formatDate(d.values[0].date))
		.merge(date);


	      const backtest = date.order().selectAll('.backtest')
		.data(d => d.values, d => d.index);

	      backtest.exit().remove();

	      const backtestEnter = backtest.enter().append('div')
		.attr('class', 'backtest');

	      backtestEnter.append('div')
		.attr('class', 'time')
		.text(d => formatTime(d.date));

	      backtestEnter.append('div')
		.attr('class', 'origin')
		.text(d => d.origin);

	      backtestEnter.append('div')
		.attr('class', 'destination')
		.text(d => d.destination);

	      backtestEnter.append('div')
		.attr('class', 'distance')
		.text(d => `${formatNumber(d.distance)} mi.`);

	      backtestEnter.append('div')
		.attr('class', 'delay')
		.classed('early', d => d.delay < 0)
		.text(d => `${formatChange(d.delay)} min.`);

	      backtestEnter.merge(backtest);

	      backtest.order();
	    });
	  }
	*/

	  function barChart() {
	    if (!barChart.id) barChart.id = 0;

	    let margin = { top: 10, right: 13, bottom: 20, left: 10 };
	    let x;
	    let y = d3.scaleLinear().range([100, 0]);
	    var id = barChart.id++;
	    var axis = d3.axisBottom();
	    var brush = d3.brushX();
	    let brushDirty;
	    let dimension;
	    let group;
	    let round;
	    let gBrush;

	    function chart(div) {
	      var width = x.range()[1];
	      var height = y.range()[0];

	      brush.extent([[0, 0], [width, height]]);

	      y.domain([0, group.top(1)[0].value]);

	      div.each(function () {
		var div = d3.select(this);
		let g = div.select('g');

		// Create the skeletal chart.
		if (g.empty()) {
		  div.select('.title').append('a')
		    .attr('href', `javascript:reset(${id})`)
		    .attr('class', 'reset')
		    .text('reset')
		    .style('display', 'none');

		  g = div.append('svg')
		    .attr('width', width + margin.left + margin.right)
		    .attr('height', height + margin.top + margin.bottom)
		    .append('g')
		      .attr('transform', `translate(${margin.left},${margin.top})`);

		  g.append('clipPath')
		    .attr('id', `clip-${id}`)
		    .append('rect')
		      .attr('width', width)
		      .attr('height', height);

		  g.selectAll('.bar')
		    .data(['background', 'foreground'])
		    .enter().append('path')
		      .attr('class', d => `${d} bar`)
		      .datum(group.all());

		  g.selectAll('.foreground.bar')
		    .attr('clip-path', `url(#clip-${id})`);

		  g.append('g')
		    .attr('class', 'axis')
		    .attr('transform', `translate(0,${height})`)
		    .call(axis);

		  // Initialize the brush component with pretty resize handles.
		  gBrush = g.append('g')
		    .attr('class', 'brush')
		    .call(brush);

		  gBrush.selectAll('.handle--custom')
		    .data([{ type: 'w' }, { type: 'e' }])
		    .enter().append('path')
		      .attr('class', 'brush-handle')
		      .attr('cursor', 'ew-resize')
		      .attr('d', resizePath)
		      .style('display', 'none');
		}

		// Only redraw the brush if set externally.
		if (brushDirty !== false) {
		  var filterVal = brushDirty;
		  brushDirty = false;

		  div.select('.title a').style('display', d3.brushSelection(div) ? null : 'none');

		  if (!filterVal) {
		    g.call(brush);

		    g.selectAll(`#clip-${id} rect`)
		      .attr('x', 0)
		      .attr('width', width);

		    g.selectAll('.brush-handle').style('display', 'none');
		    renderAll();
		  } else {
		    var range = filterVal.map(x);
		    brush.move(gBrush, range);
		  }
		}

		g.selectAll('.bar').attr('d', barPath);
	      });

	      function barPath(groups) {
		var path = [];
		let i = -1;
		var n = groups.length;
		let d;
		while (++i < n) {
		  d = groups[i];
		  path.push('M', x(d.key), ',', height, 'V', y(d.value), 'h7V', height);
		}
		return path.join('');
	      }

	      function resizePath(d) {
		var e = +(d.type === 'e');
		var x = e ? 1 : -1;
		var y = height / 3;
		return `M${0.5 * x},${y}A6,6 0 0 ${e} ${6.5 * x},${y + 6}V${2 * y - 6}A6,6 0 0 ${e} ${0.5 * x},${2 * y}ZM${2.5 * x},${y + 8}V${2 * y - 8}M${4.5 * x},${y + 8}V${2 * y - 8}`;
	      }
	    }

	    brush.on('start.chart', function () {
	      var div = d3.select(this.parentNode.parentNode.parentNode);
	      div.select('.title a').style('display', null);
	    });

	    brush.on('brush.chart', function () {
	      var g = d3.select(this.parentNode);
	      var brushRange = d3.event.selection || d3.brushSelection(this); // attempt to read brush range
	      var xRange = x && x.range(); // attempt to read range from x scale
	      let activeRange = brushRange || xRange; // default to x range if no brush range available

	      var hasRange = activeRange &&
		activeRange.length === 2 &&
		!isNaN(activeRange[0]) &&
		!isNaN(activeRange[1]);

	      if (!hasRange) return; // quit early if we don't have a valid range

	      // calculate current brush extents using x scale
	      let extents = activeRange.map(x.invert);

	      // if rounding fn supplied, then snap to rounded extents
	      // and move brush rect to reflect rounded range bounds if it was set by user interaction
	      if (round) {
		extents = extents.map(round);
		activeRange = extents.map(x);

		if (
		  d3.event.sourceEvent &&
		  d3.event.sourceEvent.type === 'mousemove'
		) {
		  d3.select(this).call(brush.move, activeRange);
		}
	      }

	      // move brush handles to start and end of range
	      g.selectAll('.brush-handle')
		.style('display', null)
		.attr('transform', (d, i) => `translate(${activeRange[i]}, 0)`);

	      // resize sliding window to reflect updated range
	      g.select(`#clip-${id} rect`)
		.attr('x', activeRange[0])
		.attr('width', activeRange[1] - activeRange[0]);

	      // filter the active dimension to the range extents
	      dimension.filterRange(extents);

	      // re-render the other charts accordingly
	      renderAll();
	    });

	    brush.on('end.chart', function () {
	      // reset corresponding filter if the brush selection was cleared
	      // (e.g. user "clicked off" the active range)
	      if (!d3.brushSelection(this)) {
		reset(id);
	      }
	    });

	    chart.margin = function (_) {
	      if (!arguments.length) return margin;
	      margin = _;
	      return chart;
	    };

	    chart.x = function (_) {
	      if (!arguments.length) return x;
	      x = _;
	      axis.scale(x);
	      return chart;
	    };

	    chart.y = function (_) {
	      if (!arguments.length) return y;
	      y = _;
	      return chart;
	    };

	    chart.dimension = function (_) {
	      if (!arguments.length) return dimension;
	      dimension = _;
	      return chart;
	    };

	    chart.filter = _ => {
	      if (!_) dimension.filterAll();
	      brushDirty = _;
	      return chart;
	    };

	    chart.group = function (_) {
	      if (!arguments.length) return group;
	      group = _;
	      return chart;
	    };

	    chart.round = function (_) {
	      if (!arguments.length) return round;
	      round = _;
	      return chart;
	    };

	    chart.gBrush = () => gBrush;

	    return chart;
	  }
	});

}
</script>
</body>

</html>


