
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Alvin Khoo (c) 2017">

    <title>Vue Stack 1</title>

    <!-- Bootstrap Core CSS -->
    <!-- link rel="stylesheet" href="welcome/css/bootstrap.min.css" type="text/css" -->

    <!-- Custom Fonts -->
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic" />
    <link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" href="//unpkg.com/vue-material/dist/vue-material.css" />

<style>
.main-content {
  padding: 16px;
}
input {
    font-size: 16px;
}
</style>
</head>

<div id="app">
  <md-toolbar>
    <h1 class="md-title"><md-icon>fingerprint</md-icon>Vue Test</h1>
  </md-toolbar>
  
  <div class="main-content">

	<div>
	  <md-button id="go" class="md-raised md-primary" v-on:click.native="revMess">Redraw</md-button>
                <select id="pair" v-model="selected">
                  <option v-for="option in options" v-bind:value="option">
                    {{ option }}
                  </option>
                </select>
      <input id="start" type="text" value="2017-05-06T22:30:00Z" style="width:240px"></input><input id="end" type="text" value="2017-05-07T00:30:00Z" style="width:240px"></input><input id="shift" type="text" style="width: 50px" value="30"></input><button onclick="shifttime('down')"><<</button><button onclick="shifttime('up')">>></button>
	</div>

	<div id="Dash"></div>
  </div>
</div>

<script src="https://d3js.org/d3.v4.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="//unpkg.com/vue"></script>
<script src="//unpkg.com/vue-material@0.7.1"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
<script>
function shifttime(direction){
    var shift = jQuery("#shift").val()
    var start = jQuery("#start").val()
    var end = jQuery("#end").val()
    if (direction=="down"){
        shift = -shift
    }else{
        shift = shift
    }
    jQuery("#start").val( moment.utc(start).add(shift,"minutes").format() )
    jQuery("#end").val( moment.utc(end).add(shift,"minutes").format() )
    jQuery("#go").trigger('click');
    
}

var coin_pairs = ["BTC_AMP", "BTC_ARDR", "BTC_BCN", "BTC_BCY", "BTC_BELA", "BTC_BLK", "BTC_BTCD", "BTC_BTM", "BTC_BTS", "BTC_BURST", "BTC_CLAM", "BTC_DASH", "BTC_DCR", "BTC_DGB", "BTC_DOGE", "BTC_EMC2", "BTC_ETC", "BTC_ETH", "BTC_EXP", "BTC_FCT", "BTC_FLDC", "BTC_FLO", "BTC_GAME", "BTC_GNO", "BTC_GNT", "BTC_GRC", "BTC_HUC", "BTC_LBC", "BTC_LSK", "BTC_LTC", "BTC_MAID", "BTC_NAUT", "BTC_NAV", "BTC_NEOS", "BTC_NOTE", "BTC_NXC", "BTC_NXT", "BTC_OMNI", "BTC_PASC", "BTC_PINK", "BTC_POT", "BTC_PPC", "BTC_RADS", "BTC_REP", "BTC_RIC", "BTC_SBD", "BTC_SC", "BTC_SJCX", "BTC_STEEM", "BTC_STR", "BTC_STRAT", "BTC_SYS", "BTC_VIA", "BTC_VRC", "BTC_VTC", "BTC_XBC", "BTC_XCP", "BTC_XEM", "BTC_XMR", "BTC_XPM", "BTC_XRP", "BTC_ZEC", "ETH_GNO", "ETH_GNT", "ETH_LSK", "ETH_STEEM", "USDT_BTC", "USDT_DASH", "USDT_ETC", "USDT_ETH", "USDT_LTC", "USDT_NXT", "USDT_REP", "USDT_STR", "USDT_XMR", "USDT_XRP", "USDT_ZEC", "XMR_DASH", "XMR_ZEC", "BTC_NMC", "BTC_XVC", "ETH_ETC", "ETH_REP", "ETH_ZEC", "XMR_BCN", "XMR_BLK", "XMR_BTCD", "XMR_MAID", "XMR_NXT", "XMR_LTC"];

/* Vue stuff */
Vue.use(VueMaterial)

var App = new Vue({
  el: '#app',
  data: {
    message: 'Hello Vue.js!',
    options: coin_pairs,
    selected: 'BTC_STR'
  },
  methods: {
    revMess: function () {
      drawStackChart();
    }
  }

})

/* jquery stuff */
    $(document).ready(function () {
        drawStackChart();
    });

/* d3 stuff */

    //Draw Stack Chart
    var marginStackChart = { top: 20, right: 80, bottom: 30, left: 80 },
            widthStackChart = 950 - marginStackChart.left - marginStackChart.right,
            heightStackChart = 500 - marginStackChart.top - marginStackChart.bottom;

    var xStackChart = d3.scaleBand()
            .range([0, widthStackChart])
            .padding(0.1);
    var yStackChart = d3.scaleLinear()
                .range([heightStackChart, 0]);
    var yLineChart = d3.scaleLinear()
                .range([heightStackChart, 0]);



    var colorStackChart = d3.scaleOrdinal(["#00AA00", "#FF0000", "#7b6888", "#6b486b", "#a05d56",  "#ff8c00"])


    var canvasStackChart = d3.select("#Dash").append("svg")
        .attr("width", widthStackChart + marginStackChart.left + marginStackChart.right)
        .attr("height", heightStackChart + marginStackChart.top + marginStackChart.bottom)
        .append("g")
        .attr("transform", "translate(" + marginStackChart.left + "," + marginStackChart.top + ")");

    var div = d3.select("body").append("div")
        .attr("class", "tooltip")
        .style("opacity", 0);

    function drawStackChart() {
	d3.selectAll("svg g > *").remove()

	var json_api = 'http://web.abstractsoftware.ca/api/returnPair?pair=' + App.selected + '&start=' + document.getElementById("start").value + '&end=' + document.getElementById("end").value
	var data = [], line_data = [];

	d3.json(json_api, function(raw_data) {
		for (let i = 0; i < raw_data.length; i++) {
		    if (parseFloat(raw_data[i]["buy"]["amount"] + raw_data[i]["sell"]["amount"]) < 0.01) {
			data.push({ 'tradeID': i, 'Buy': 0, 'Sell': 0 })
		    } else {
			total = raw_data[i]["buy"]["amount"]  + raw_data[i]["sell"]["amount"] ;
			buy_ratio = parseInt(raw_data[i]["buy"]["amount"] );
			sell_ratio = parseInt(raw_data[i]["sell"]["amount"] );
			data.push({ 'tradeID': i, 'Buy': buy_ratio, 'Sell': sell_ratio })
		    }
		    line_data.push({ 'tradeID': i, 'price': raw_data[i].close })
		}

	    var valueline = d3.line()
		.x(function (d) { return xStackChart(d.tradeID) })
		.y(function (d) { return yLineChart(d.price) });

            colorStackChart.domain(d3.keys(data[0]).filter(function (key) { return key !== "tradeID"; }));

            data.forEach(function (d) {
                var y0 = 0;
                d.ages = colorStackChart.domain().map(function (name) { return { name: name, y0: y0, y1: y0 += +d[name] }; });
                d.total = d.ages[d.ages.length - 1].y1;
            });

            data.sort(function (a, b) { return b.tradeID - a.tradeID; });

            xStackChart.domain(data.map(function (d) { return d.tradeID; }));
            yStackChart.domain([0, d3.max(data, function (d) { return d.total*2; })]);
            yLineChart.domain([d3.min(line_data, function (d) { return d.price; })/1.2, d3.max(line_data, function (d) { return d.price; }) ]);

/* // x-axis ticker, dont need
            canvasStackChart.append("g")
            .attr("class", "x axis")
            .attr("transform", "translate(0," + heightStackChart + ")")
            .call(d3.axisBottom(xStackChart));
*/
            canvasStackChart.append("g")
            .attr("class", "y axis")
            .call(d3.axisLeft(yStackChart))
            .append("text")
            .attr("transform", "rotate(-90)")
            .attr("y", 6)
            .attr("dy", ".71em")
            .style("text-anchor", "end")
            .text("No Of Buildings");

	canvasStackChart.append("g")
	    .call(d3.axisRight(yLineChart))
	    .attr("transform", "translate( " + widthStackChart + ", 0 )")
	    .append("text")
	    .attr("fill", "#000")
	    .attr("transform", "rotate(-90)")
	    .attr("y", 6)
	    .attr("dy", "-0.71em")
	    .attr("text-anchor", "middle")
	    .text("Price   ");

            var state = canvasStackChart.selectAll(".trade")
            .data(data)
            .enter().append("g")
            .attr("class", "g")
            .attr("transform", function (d) { return "translate(" + xStackChart(d.tradeID) + ",0)"; });

            state.selectAll("rect")
            .data(function (d) { return d.ages; })
            .enter().append("rect")
            .attr("width", xStackChart.bandwidth())
            .attr("y", function (d) { return yStackChart(d.y1); })
            .attr("height", function (d) { return yStackChart(d.y0) - yStackChart(d.y1); })
            .style("fill", function (d) { return colorStackChart(d.name); });

            var legend = canvasStackChart.selectAll(".legend")
            .data(colorStackChart.domain().slice().reverse())
            .enter().append("g")
            .attr("class", "legend")
            .attr("transform", function (d, i) { return "translate(-20," + i * 20 + ")"; });

            legend.append("rect")
            .attr("x", widthStackChart - 14)
            .attr("width", 14)
            .attr("height", 14)
            .style("fill", colorStackChart);

            legend.append("text")
            .attr("x", widthStackChart - 20)
            .attr("y", 8)
            .attr("dy", ".25em")
            .style("text-anchor", "end")
            .text(function (d) { return d; });

	    // draw volume line chart
	    canvasStackChart.append("path")
	      .attr("fill", "none")
	      .attr("stroke", "steelblue")
	      .attr("stroke-linejoin", "round")
	      .attr("stroke-linecap", "round")
	      .attr("stroke-width", 1.5)
	      .attr("d", valueline(line_data));

		// too many ticks, remove
		var ticks = d3.selectAll(".x.axis .tick text");
		ticks.attr("class", function(d,i){
		    if(i%3 != 0) d3.select(this).remove();
		});

	});
    }


</script>

</body>

</html>


