<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Alvin Khoo (c) 2017">

    <title>Vue nStats & techan</title>

    <!-- Bootstrap Core CSS -->
    <!-- link rel="stylesheet" href="welcome/css/bootstrap.min.css" type="text/css" -->

    <!-- Custom Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" href="//unpkg.com/vue-material/dist/vue-material.css" />

<style>
body {
  font-family: 'Roboto', sans-serif;
}

.main-content {
  padding: 16px;
}
input {
    font-size: 16px;
}

.overlay {
  fill: none;
  pointer-events: all;
}

.focus_small circle {
  fill: none;
  stroke: steelblue;
}

.coords {
  font-size: 0.8em;
}

.tradeinfo {
  font-size: 0.8em;
}

    .line {
        fill: none;
	stroke: blue;
        stroke-width: 1;
    }

    .atr path {
        fill: none;
        stroke-width: 1;
        stroke: #000000;
    }


    .rsi {
        fill: none;
        stroke: #000000;
    }

    .overbought, .oversold {
        stroke: #FF9999;
        stroke-dasharray: 5, 5;
    }

    .middle, .zero {
        stroke: #BBBBBB;
        stroke-dasharray: 5, 5;
    }

    .stochastic path {
        fill: none;
        stroke-width: 1;
    }
    
    .stochastic.up {
        fill: none;
        stroke: #00AA00;
    }

    .stochastic.down {
        fill: none;
        stroke: #FF0000;
    }

    .stochastic path.overbought, .stochastic path.oversold {
        stroke: #FF9999;
        stroke-dasharray: 5, 5;
    }

    path.macd {
        stroke: #0000AA;
	fill: none;
    }

    path.signal {
        stroke: #FF9999;
	fill: none;
    }

    path.zero {
        stroke: #BBBBBB;
        stroke-dasharray: 0;
        stroke-opacity: 0.5;
    }

    path.difference {
        fill: #BBBBBB;
        opacity: 0.5;
    }

.area {
  stroke: steelblue;
  stroke-width: 1.5;
  fill: none;
  clip-path: url(#clip);
}

.zoom {
  cursor: move;
  fill: none;
  pointer-events: all;
}

.tprice { 
	font-size: 1.1em;
	color: green;
}



</style>
</head>

<div id="app">
  
  <div class="main-content">
	<div class="hits-viewport">
	  <md-card style="width: 1020px;">
		  <md-card-actions>
			<md-button  class="md-raised md-primary"  v-on:click.native="moveweek('down')"> &lt;&lt; </md-button>
			<md-button  class="md-raised md-primary"  v-on:click.native="moveweek('up')"> &gt;&gt; </md-button>
		  </md-card-actions>

		<svg id="bigchart" width="1000" height="500">
		<defs>
	      <linearGradient id="Gradient1" x1="0" x2="0" y1="0" y2="1">
			<stop offset="0%" stop-color="#43A047"/>
			<stop offset="50%" stop-color="#8BC34A" stop-opacity="20"/>
			<stop offset="100%" stop-color="#D4E157"/>
		      </linearGradient>
	      <linearGradient id="Gradient2" x1="0" x2="0" y1="0" y2="1">
			<stop offset="0%" stop-color="#FFCA28"/>
			<stop offset="50%" stop-color="#FF9800" stop-opacity="20"/>
			<stop offset="100%" stop-color="#F4511E"/>
		      </linearGradient>
		</defs>
		</svg>
	  </md-card>

	  <md-card style="width: 1020px;">
		  <md-card-actions>

			<md-button md-theme="green" class="md-icon-button md-raised md-primary" v-on:click.native="refSmall">
			  <md-icon>insert_chart</md-icon>
			</md-button>

			  <md-input-container>
			    <label>start Time (oldest)</label>
			    <md-input id="start"  v-model="startTime" ></md-input>
			  </md-input-container>

			  <md-input-container>
			    <label>end Time (newest)</label>
			    <md-input id="end"  v-model="endTime" ></md-input>
			  </md-input-container>


			  <md-input-container>
			    <label>Seconds (0.5 = 1 slice)</label>
			    <md-input id="shift" type="number" v-model="shift_value" ></md-input>
			  </md-input-container>

			<md-button  class="md-raised md-primary"  v-on:click.native="movetime('down')"> &lt;&lt; </md-button>
			<md-button  class="md-raised md-primary"  v-on:click.native="movetime('up')"> &gt;&gt; </md-button>
		  </md-card-actions>
		<svg id="alvinvue" width="1020" height="500"> </svg>
	  </md-card>

	  <md-card style="width: 250px; position: fixed; top: 30px; right: 0;">
	    <md-card-content>
		  <md-list>
		    <md-list-item>
			<md-button id="redraw" class="md-raised md-primary" v-on:click.native="revMess">Redraw</md-button>
			<md-switch v-model="check_utc" id="my-test1" name="my-test1" class="md-primary" v-on:click.native="utcChart" >UTC</md-switch>
		    </md-list-item>
		    <md-list-item>
			<md-input-container>
			  <label for="movie">Choose Pairs</label>
			  <md-select id="pair" v-model="select_coin" v-on:change="revMess">
			    <md-option v-for="option in options" v-bind:value="option">
			      {{ option }}
			    </md-option>
			  </md-select>
			</md-input-container>
		    </md-list-item>
		    <md-list-item>
			<span class="tprice" ><b> Small Chart</b> <md-chip id="data_len">0</md-chip></span>
		    </md-list-item>

		    <md-list-item>
			  <md-input-container>
			    <label for="movie">Choose hits</label>
			    <md-select name="movie" id="movie" v-model="small_graph"  v-on:selected="drawAlvinVue($event)">
			      <md-option  v-for="(hits,index) in hits_list" :value="index">{{ hits.endDate.format("MM-DD, HH:mm") }} <b> {{ hits.tprice }} </b> </md-option>
			    </md-select>
			  </md-input-container>
		    </md-list-item>

		  </md-list>
	    </md-card-content>
	  </md-card>
	</div>
  </div>
</div>

<script src="//d3js.org/d3.v4.min.js"></script>
<script src="//d3js.org/d3-transition.v1.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/crossfilter/1.3.12/crossfilter.min.js"></script>
<script src="//d3js.org/d3-time.v1.min.js"></script>
<script src="//d3js.org/d3-time-format.v2.min.js"></script>
<!--script src="techan.min.js"></script -->
<script src="nodeStatsBrowser.js"></script>

<script src="//ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="//unpkg.com/vue"></script>
<script src="//unpkg.com/vue-material@0.7.1"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>

<script>

function shifttime(direction){
    //var shift = jQuery("#shift").val()
    var start = jQuery("#start").val()
    var end = jQuery("#end").val()
    var shift = App.shift_value;
    if (direction=="down"){
        shift = -shift
    }else{
        shift = shift
    }
	App.startTime =  moment.utc(start).add(shift,"minutes").format();
	App.endTime = moment.utc(end).add(shift,"minutes").format();
    //jQuery("#start").val( moment.utc(start).add(shift,"minutes").format() )
    //jQuery("#end").val( moment.utc(end).add(shift,"minutes").format() )
    //jQuery("#go").trigger('click');
    refreshChart();
}

function shiftweek(direction){
    //var shift = jQuery("#shift").val()
    if (direction=="down"){
        shift = -3
    }else{
        shift = 3
    }
	var tmpTime = moment.utc(App.weekTime).add(shift,"days"); // 1 week ago
	if (tmpTime > Date.now()) {
		App.weekTime = moment.utc(Date.now()).format();
	} else {
		App.weekTime = tmpTime.format();
	}
    //jQuery("#start").val( moment.utc(start).add(shift,"minutes").format() )
    //jQuery("#end").val( moment.utc(end).add(shift,"minutes").format() )
    //jQuery("#go").trigger('click');
	Vue.nextTick(function () {
   		drawChart();
	})
}



	var coin_pairs = ["BTC_AMP","BTC_ARDR","BTC_BCN","BTC_BCY","BTC_BELA","BTC_BLK","BTC_BTCD","BTC_BTM","BTC_BTS","BTC_BURST","BTC_CLAM","BTC_DASH","BTC_DCR","BTC_DGB","BTC_DOGE","BTC_EMC2","BTC_ETC","BTC_ETH","BTC_EXP","BTC_FCT","BTC_FLDC","BTC_FLO","BTC_GAME","BTC_GNO","BTC_GNT","BTC_GRC","BTC_HUC","BTC_LBC","BTC_LSK","BTC_LTC","BTC_MAID","BTC_NAUT","BTC_NAV","BTC_NEOS","BTC_NMC","BTC_NOTE","BTC_NXC","BTC_NXT","BTC_OMNI","BTC_PASC","BTC_PINK","BTC_POT","BTC_PPC","BTC_RADS","BTC_REP","BTC_RIC","BTC_SBD","BTC_SC","BTC_SJCX","BTC_STEEM","BTC_STR","BTC_STRAT","BTC_SYS","BTC_VIA","BTC_VRC","BTC_VTC","BTC_XBC","BTC_XCP","BTC_XEM","BTC_XMR","BTC_XPM","BTC_XRP","BTC_XVC","BTC_ZEC","ETH_ETC","ETH_GNO","ETH_GNT","ETH_LSK","ETH_REP","ETH_STEEM","ETH_ZEC","USDT_BTC","USDT_DASH","USDT_ETC","USDT_ETH","USDT_LTC","USDT_NXT","USDT_REP","USDT_STR","USDT_XMR","USDT_XRP","USDT_ZEC","XMR_BCN","XMR_BLK","XMR_BTCD","XMR_DASH","XMR_LTC","XMR_MAID","XMR_NXT","XMR_ZEC"]; // manual coins

/* Vue stuff */
Vue.use(VueMaterial)

var App = new Vue({
  el: '#app',
  data: {
    select_coin: '',  // big chart selected coin
    options: coin_pairs,  // valid coin pairs
    check_utc: true,
    small_graph: '', // index from hits_list[_index_], default to 0
    hits_list: [{'endDate': moment.utc(Date.now()) , 'startDate':  moment.utc(Date.now()).subtract(4,"hours"),  'tprice': 0.00}],
    shift_value: 30,
    weekTime: moment.utc(Date.now()).format(),
    endTime: moment.utc(Date.now()).format(),
    startTime: moment.utc(Date.now()).subtract(4,"hours").format(),
    message: 'Welcome to bitCoin'
  },
  methods: {
    drawAlvinVue: function (ev) {
      drawSmallChart(ev);
    },
    refSmall: function () {
      drawSmallChart();
    },
    moveweek: function (updown) {
      shiftweek(updown);
    },
    movetime: function (updown) {
      shifttime(updown);
    },
    revMess: function () {
      drawChart();
    },
    utcChart: function() {
      drawChart();
    }
  }

})


/* jquery stuff */
    $(document).ready(function () {
	App.select_coin = 'BTC_DASH';
        drawChart();
        drawSmallChart();
    });

/* D3 stuff */
var block_watch = 6, // last 6 slices to watch
    block_size = 24, // total block size per calculation
    sd_90 = 1.644,
    sd_95 = 1.959,
    block_hits = 100; // display only 100 hits in <select>
    t = d3.transition()
	.duration(750)
	.ease(d3.easeLinear);

var svg = d3.select("#bigchart"),
    margin = {top: 20, right: 80, bottom: 110, left: 80},
    margin2 = {top: 430, right: 80, bottom: 30, left: 80},
    width = +svg.attr("width") - margin.left - margin.right,
    height = +svg.attr("height") - margin.top - margin.bottom,
    height2 = +svg.attr("height") - margin2.top - margin2.bottom;

var colorStackChart = d3.scaleOrdinal(["#00E676", "#FF5252", "#7b6888", "#6b486b", "#a05d56",  "#ff8c00"])

var parseDate = d3.timeParse("%b %Y");

var x = d3.scaleTime().range([0, width]),
    x2 = d3.scaleTime().range([0, width]),
    y = d3.scaleLinear().range([height, 0]),
    y_r = d3.scaleLinear().range([height, 0]), // tprice setting, right side
    y2 = d3.scaleLinear().range([height2, 0]),
    yStackChart = d3.scaleLinear()
	    .range([height, 0]);

/* AlvinVue charts */
    /*var xStackChart = d3.scaleBand()
	.range([0, width])
       	.padding(0.1); */
    var xStackChart = d3.scaleTime().range([0, width])
    var yStackChart = d3.scaleLinear()
	.range([height, 0]);
    var yLineChart = d3.scaleLinear()
	.range([height, 0]);
    var yTtestChart = d3.scaleLinear()
	.range([height, 0]);

    var barStackChart = d3.select("#alvinvue")
    	.append("g")
        .attr("class", 'bars_only')
        .attr("transform", "translate(" + margin.left + "," + margin.top + ")");
    var canvasStackChart = d3.select("#alvinvue")
    	.append("g")
        .attr("class", 'trade')
        .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

    var coordsGroup, coordsText, focus_line, focus_bar, focus_small, focus_text;

    var div = d3.select("body").append("div")
        .attr("class", "tooltip")
        .style("opacity", 0);

    var valueline = d3.line()
	.x(function (d,i) { return xStackChart(d.date)  }) // offset by half bar
	.y(function (d) { return yLineChart(d.close) });

    var data_al = [], ohlc_data_al = [], t_tests = {};
/* end AlvinVue */

var xAxis = d3.axisBottom(x),
    xAxis2 = d3.axisBottom(x2),
    yAxis = d3.axisRight(y),
    xAxis3 = d3.axisBottom(xStackChart); 
    xAxis.tickFormat(d3.utcFormat("%m-%d %H:%M"));
    xAxis3.tickFormat(d3.utcFormat("%m-%d %H:%M"));

var brush = d3.brushX()
    .extent([[0, 0], [width, height2]])
    .on("brush end", brushed);

var zoom = d3.zoom()
    .scaleExtent([1, Infinity])
    .translateExtent([[0, 0], [width, height]])
    .extent([[0, 0], [width, height]])
    .on("zoom", zoomed);

var area = d3.line()
    .x(function(d) { return x(d.date); })
    .y(function(d) { return y(d.price); });

var area2 = d3.line()
    .x(function(d) { return x2(d.date); })
    .y(function(d) { return y2(d.price); });

svg.append("defs").append("clipPath")
    .attr("id", "clip")
  .append("rect")
    .attr("width", width)
    .attr("height", height);

var barsGroup = svg.append('g')
	.attr("class","barsGroup")
	.attr("transform","translate(" + margin.left + "," + margin.top + ")");
var context = svg.append("g")
	.attr("class", "context")
	.attr("transform", "translate(" + margin2.left + "," + margin2.top + ")");
var large_focus = svg.append("g")
	.attr("class", "focus")
	.attr("transform", "translate(" + margin.left + "," + margin.top + ")");
var large_line = svg.append("g")
	.attr("class", "large_line")
	.style("display", "none")
	.attr("transform", "translate(" + margin.left + "," + margin.top + ")");
var large_bar = svg.append("g")
	.attr("class", "large_bar")
	.style("display", "none")
	.attr("transform", "translate(" + margin.left + "," + margin.top + ")");
var large_text = svg.append("g")
	.attr("class", "large_text")
	.style("display", "none")
	.attr("transform", "translate(" + margin.left + "," + margin.top + ")");

var large_endDate = svg.append("g") // end Date marker
	.attr("class", "large_endDate")
	.attr("transform", "translate(" + margin.left + "," + margin.top + ")");


var data, ohlc_data, hits_data;
var endTime, drawSmallTimer; //  timer !unused!

function drawSmallChart(event) {

	if (event != undefined) {
		App.endTime = App.hits_list[event].endDate.format();
		App.startTime = App.hits_list[event].startDate.format();
	}

 	large_endDate.select('path').attr("transform", "translate(" + x(moment.utc(App.endTime).toDate()) + ",0)");

	d3.selectAll("#alvinvue g > *").remove()
	data_al = [], ohlc_data_al = [], t_tests = {}; 

	var small_api = '//web.abstractsoftware.ca/polo/php/returnpair?pair=' + App.select_coin + '&start=' + App.startTime  + '&end=' + App.endTime; 
	//var json_api = 'data.json';

	d3.json(small_api, function(raw_data) {
		if (raw_data == null) { return; }
		var prev_close = raw_data[0]["close"];
		for (let i = 0; i < raw_data.length; i++) {
			dateEnd = moment.utc(raw_data[i].endDate).toDate();
			buy_amt = parseFloat(raw_data[i]["buy_amount"] );
			sell_amt = parseFloat(raw_data[i]["sell_amount"] );
			total = buy_amt + sell_amt;
			buy_trade = parseFloat(raw_data[i]["buy_trades"] );
			sell_trade = parseFloat(raw_data[i]["sell_trades"] );
			data_al.push({ 'date': dateEnd, 'Buy': buy_amt, 'Sell': sell_amt, 'buyTrade': parseFloat(buy_trade), 'sellTrade': parseFloat(sell_trade) }) // volume & total bids data
		    ohlc_data_al.push({ 'date': dateEnd, 'close': parseFloat(raw_data[i].close), 'open': prev_close, 'high': parseFloat(raw_data[i].high), 'low': parseFloat(raw_data[i].low), 'volume': total }); // standard OHLC data
			prev_close = raw_data[i].close;
		}

        //colorStackChart.domain(d3.keys(data[0]).filter(function (key) { return key !== "date"; }));
	colorStackChart.domain(['Buy','Sell']);

            data_al.forEach(function (d) {
                var y0 = 0;
                d.ages = colorStackChart.domain().map(function (name) { return { name: name, y0: y0, y1: y0 += +d[name] }; });
                d.total = d.ages[d.ages.length - 1].y1;
            });

            data_al.sort(function (a, b) { return a.date - b.date; });
            ohlc_data_al.sort(function (a, b) { return a.date - b.date; });

	    $('#data_len').text(data_al.length);
	    initSmallChart();
	});
}

function initSmallChart() {

    d3.selectAll("#alvinvue g > *").remove()
    d3.selectAll(".barchart").remove()
    d3.selectAll(".small_line").remove()


    coordsGroup = canvasStackChart.append("g")
	.attr("class", "coords")
    coordsText = coordsGroup.append('text')
	.style("text-anchor", "start")
	.attr("x", width + 5)
	.attr("y", 0);

    focus_line = canvasStackChart.append("g")
	.attr("class", "focus_line")
	.style("display", "none");
    focus_bar = canvasStackChart.append("g")
	.attr("class", "focus_bar")
	.style("display", "none");
    focus_small = canvasStackChart.append("g")
	.attr("class", "focus_small")
	.attr("transform", "translate(" + margin.left + "," + margin.top + ")");
    focus_text = canvasStackChart.append("g")
	.attr("class", "focus_text")
	.attr("transform", "translate(" + margin.left + "," + margin.top + ")");



    xStackChart.domain(d3.extent(ohlc_data_al, function(d) { return d.date; }))
    yStackChart.domain([0, d3.max(data_al, function (d) { return d.total*2; })]);
    yLineChart.domain([d3.min(ohlc_data_al, function (d) { return d.close; })/1.02, d3.max(ohlc_data_al, function (d) { return d.close; }) ]);
    yTtestChart.domain([-20,20]); // t-test range

    t_tests['tprice'] = t_calc(ohlc_data_al, "close");
    t_tests['mfi'] = mfi_calc(ohlc_data_al);
    t_tests['tbuy'] = t_calc(data_al, 'Buy');
    t_tests['tsell'] = t_calc(data_al, 'Sell');
console.log(JSON.stringify(t_tests));

    var t_chart = canvasStackChart.append("g")
	    .attr("class", "y3 axis")
	    .call(d3.axisRight(yTtestChart))

    t_chart.append("g")
	    .attr("class", "t_value_p")
	    .attr("transform", "translate(0," + yTtestChart(t_tests.tprice.t)  + ")")
	    .append("text")
	    .attr("fill", "#000")
	    .attr("font-size", "1.2em")
	    .attr("x", 3)
	    .attr("y", 0)
	    .text("T-price:"+ t_tests.tprice.t.toFixed(2));
    t_chart.append("g")
	    .attr("class", "t_value_b")
	    .attr("transform", "translate(0," + yTtestChart(t_tests.tbuy.t)  + ")")
	    .append("text")
	    .attr("fill", "#000")
	    .attr("font-size", "1.1em")
	    .attr("x", 140)
	    .attr("y", 0)
	    .text("T-buy:"+ t_tests.tbuy.t.toFixed(2));
    t_chart.append("g")
	    .attr("class", "t_value_s")
	    .attr("transform", "translate(0," + yTtestChart(t_tests.tsell.t)  + ")")
	    .append("text")
	    .attr("fill", "#000")
	    .attr("font-size", "1.1em")
	    .attr("x", 75)
	    .attr("y", 0)
	    .text("T-sell:"+ t_tests.tsell.t.toFixed(2));

	if (Math.abs(t_tests.tprice.t) > 5) {
		fillBox("t_value_p", 0, 0, "#FF80AB" );
	} else {
		fillBox("t_value_p", 0, 0, "skyblue" );
	}
	if (Math.abs(t_tests.tbuy.t) > 3) {
		fillBox("t_value_b", 0, 0, "#FF80AB" );
	} else {
		fillBox("t_value_b", 0, 0, "skyblue" );
	}
	if (Math.abs(t_tests.tsell.t) > 3) {
		fillBox("t_value_s", 0, 0, "#FF80AB" );
	} else {
		fillBox("t_value_s", 0, 0, "skyblue" );
	}

        canvasStackChart.append("g")
            .attr("class", "x axis")
            .attr("transform", "translate(0," + height + ")")
            .call(xAxis3)
        canvasStackChart.append("g")
            .attr("class", "y axis")
            .call(d3.axisLeft(yStackChart))

	canvasStackChart.append("g")
            .attr("class", "y1 axis")
	    .call(d3.axisRight(yLineChart))
	    .attr("transform", "translate( " + width + ", 0 )")
	    .append("text")
	    .attr("fill", "#000")
	    .attr("transform", "rotate(-90)")
	    .attr("y", 6)
	    .attr("dy", "-0.71em")
	    .attr("text-anchor", "middle")
	    .text("Price   ");

        var bar_ch = barStackChart.selectAll(".bars_only")
            .data(data_al)
            .enter().append("g")
            .attr("class", "barchart")
            //.attr("transform", function (d,i) { return "translate(" + xStackChart(d.date) + ",0)"; });
            .attr("transform", function (d,i) { return "translate(" + (xStackChart(d.date) - (width/data_al.length)/2) + ",0)"; });

        bar_ch.selectAll("rect")
            .data(function (d) { return d.ages; })
            .enter().append("rect")
	    .attr("width", Math.max(1, width/data_al.length) )
            .attr("y", function (d) { return yStackChart(d.y1); })
            .attr("height", function (d) { return yStackChart(d.y0) - yStackChart(d.y1); })
            .attr("val", function (d) { return d.y1 - d.y0; })
            .style("fill", function (d) { return colorStackChart(d.name); });

	// mean() and standard_deviation
	var vol = _pluck(ohlc_data_al, "volume");
	var vol_mean = nStats.mean(vol, vol.length - block_watch);
	var close_data = _pluck(ohlc_data_al, "close");
	var close_mean = nStats.mean(close_data, vol.length - block_watch);
	var close_sdev = nStats.sample_standard_deviation(close_data, vol.length - block_watch);
	var s_dev = nStats.sample_standard_deviation(vol, vol.length - block_watch);

	var stats_ch = canvasStackChart.append("g")
	      .attr("class", "stats")

	stats_ch.append("path")
	    .attr("class", "mean_line")
	    .attr("stroke", 'green')
	    .attr("stroke-dasharray", '5, 10')
	    .attr("fill", "none")
	    .attr("stroke-width", 0.5)
	    .attr("d", "M0,0 L"+width+",0")
            .attr("transform", "translate(0," + yLineChart(close_mean) + ")" );
	stats_ch.append("path")
	    .attr("class", "sd_vol")
	    .attr("stroke", 'green')
	    .attr("stroke-dasharray", '15, 10, 5, 10')
	    .attr("fill", "none")
	    .attr("stroke-width", 0.5)
	    .attr("d", "M0,0 L"+width+",0")
            .attr("transform", "translate(0," + yStackChart(vol_mean + (sd_90*s_dev)) + ")" );
	stats_ch.append("rect")
	    .attr("class", "sd_price")
	    .attr("x", 0)
	    .attr("y", yLineChart(close_mean + sd_90*close_sdev) )
	    .attr("width", width)
	    .attr("height",  Math.abs(2*(yLineChart(close_mean + sd_90*close_sdev) -  yLineChart(close_mean))) )
	    .attr("fill", "blue")
	    .attr("opacity", 0.1 )
	    .attr("stroke", 'green')
	    .attr("stroke-dasharray", '15, 10, 5, 10')
	    .attr("stroke-width", 0.5)
            //.attr("transform", "translate(0," + yStackChart(mean + (sd_90*s_dev)) + ")" );

	// draw Buy/Sell legend
        var legend = canvasStackChart.selectAll(".legend")
            //.data(colorStackChart.domain().slice().reverse())
            .data(['Buy', 'Sell'])
            .enter().append("g")
            .attr("class", "legend")
            .attr("transform", function (d, i) { return "translate(0," + i * 20 + ")"; });

        legend.append("rect")
            .attr("x", 62)
            .attr("width", 16)
            .attr("height", 16)
            .style("fill", colorStackChart);

        legend.append("text")
            .attr("x", 58)
            .attr("y", 8)
            .attr("dy", ".35em")
            .style("text-anchor", "end")
            .text(function (d) { return d; });

	// draw price line chart
	canvasStackChart.append("path")
              .attr("class", "small_line")
	      .attr("fill", "none")
	      .attr("stroke", "steelblue")
	      .attr("stroke-linejoin", "round")
	      .attr("stroke-linecap", "round")
	      .attr("stroke-width", 1.5)
	      .attr("d", valueline(ohlc_data_al));


	// mouse move code
	  focus_line.append("path")
	      .attr("stroke-width", 0.5)
	      .attr("stroke", 'blue')
	      .attr("d", "M0,0 L0,"+(height + margin.bottom));

	  focus_bar.append("path")
	      .attr("stroke-width", 0.5)
	      .attr("stroke", 'blue')
	      .attr("d", "M0,0 L"+ width +",0");

	  focus_small.append("circle")
	      .attr("r", 4.5);

	  focus_text.append("text")
	      .attr("x", 9)
	      .attr("class", 'tradeinfo')
	      .attr("dy", ".35em");

    	  d3.select("#alvinvue").append('g')
              .attr("transform", "translate(" + margin.left + "," + margin.top + ")")
	      .append("rect")
	      .attr("class", "overlay")
	      .attr("width", width)
	      .attr("height", height)
	      .on("mouseover", function() { 
			coordsGroup.style("display", null); 
			focus_line.style("display", null); 
			focus_bar.style("display", null); 
			focus_small.style("display", null); 
			focus_text.style("display", null); 
		})
	      .on("mouseout", function() { 
			coordsGroup.style("display", "none"); 
			focus_line.style("display", "none"); 
			focus_bar.style("display", "none"); 
			focus_small.style("display", "none"); 
			focus_text.style("display", "none"); 
		})
	      .on("mousemove", mousemove);

}

var bisectDate = d3.bisector(function(d) { return d.date; }).left;

function drawChart() {
    d3.selectAll("svg g > *").remove()
    App.small_graph = -1;
    $('#data_len').text('0');

    var json_api = "//web.abstractsoftware.ca/polo/php/returnpair?pair=" + App.select_coin + "&end=" + App.weekTime + "&group=week" ; // minute | hour | month
    data = [], ohlc_data = [];

    d3.json(json_api, function(raw_data) {
	var prev_close = raw_data[0].close; // init prev_close
	for (let i = 0; i < raw_data.length; i++) {
		dateEnd = moment.utc(raw_data[i].endDate).toDate();
		buy_amt = +raw_data[i]["buy_amount"];
		sell_amt = +raw_data[i]["sell_amount"];
		total = buy_amt + sell_amt;
		buy_trade = +raw_data[i]["buy_trades"] ;
		sell_trade = +raw_data[i]["sell_trades"] ;
		data.push({ 'date': dateEnd, 'Buy': buy_amt, 'Sell': sell_amt, 'buyTrade': parseFloat(buy_trade), 'sellTrade': parseFloat(sell_trade) }) // volume & total bids data
	    ohlc_data.push({ 'date': dateEnd, 'price': parseFloat(raw_data[i].close), 'open': prev_close, 'high': parseFloat(raw_data[i].high), 'low': parseFloat(raw_data[i].low), 'volume': total }); // standard OHLC data
		prev_close = raw_data[i].close;
	}

	$('#redraw').text(data.length);
//console.log(data.length);
	colorStackChart.domain(['Buy','Sell']);

	data.forEach(function (d) {
           var y0 = 0;
           //d.ages = colorStackChart.domain().map(function (name) { return { name: name, y0: y0, y1: y0 += +d[name] }; });
           d.ages = colorStackChart.domain().map(function (name) { return { name: name, y0: y0, y1: y0 += +d[name] }; });
           d.total = d.ages[d.ages.length - 1].y1;
       	});

	x.domain(d3.extent(ohlc_data, function(d) { return d.date; }))
	y.domain([d3.min(ohlc_data, function(d) { return d.price/1.1 }), d3.max(ohlc_data, function(d) { return d.price })]);
	x2.domain(x.domain());
	y2.domain(y.domain());
	yStackChart.domain([0, d3.max(ohlc_data, function (d) { return d.total*2; })]);

	// Append line guides
	large_focus.append("line")
	    .attr("x1", 0)
	    .attr("y1", height/2)
	    .attr("x2", width)
	    .attr("y2", height/2)
	    .attr("stroke-dasharray", "15, 10, 5, 10, 15")
	    .style("stroke", "rgb(6,120,155)");
	large_focus.append("line")
	    .attr("x1", 0)
	    .attr("y1", height/4)
	    .attr("x2", width)
	    .attr("y2", height/4)
	    .attr("stroke-dasharray", "15, 10, 5, 10, 15")
	    .style("stroke", "rgb(6,120,155)");
	large_focus.append("line")
	    .attr("x1", 0)
	    .attr("y1", height/4*3)
	    .attr("x2", width)
	    .attr("y2", height/4*3)
	    .attr("stroke-dasharray", "15, 10, 5, 10, 15")
	    .style("stroke", "rgb(6,120,155)");

	// Append line chart and brush
	  large_focus.append("path")
	      .datum(ohlc_data)
	      .attr("class", "area")
	      .attr("d", area);

	  large_focus.append("g")
	      .attr("class", "axis axis--x")
	      .attr("transform", "translate(0," + height + ")")
	      .call(xAxis);

	  large_focus.append("g")
	      .attr("class", "axis axis--y")
	      .attr("transform", "translate(" + width + ",0)")
	      .call(yAxis);

	  context.append("path")
	      .datum(ohlc_data)
	      .attr("class", "area")
	      .attr("d", area2);

	  context.append("g")
	      .attr("class", "axis axis--x")
	      .attr("transform", "translate(0," + height2 + ")")
	      .call(xAxis2);

	  context.append("g")
	      .attr("class", "brush")
	      .call(brush)
	      .call(brush.move, x.range());

	  large_line.append("path")
		.attr("stroke-width", 0.5)
		.attr("stroke", 'blue')
		.attr("d", "M0,0 L0,"+(height));
	  large_bar.append("path")
		.attr("stroke-width", 0.5)
		.attr("stroke", 'blue')
		.attr("d", "M0,0 L"+ width +",0");
	  large_text.append("text")
	    .attr("fill", "#000")
	    .attr("font-size", "1.2em")
	    .attr("x", 3)
	    .attr("y", 0)
	    .text("Date:");
	  large_endDate.append("path")
		.attr("stroke-width", 1.5)
		.attr("stroke", 'red')
		.attr("d", "M0,0 L0,"+(height));


	  svg.selectAll(".zoom").remove(); // remove old zoom layout
	  svg.append("rect")
	      .attr("class", "zoom")
	      .attr("width", width)
	      .attr("height", height)
	      .attr("transform", "translate(" + margin.left + "," + margin.top + ")")
	      .on("mousedown touchstart", mouseclick)
	      .on("mouseover", function() { 
			large_line.style("display", null); 
			large_bar.style("display", null); 
			large_text.style("display", null); 
		})
	      .on("mouseout", function() { 
			large_line.style("display", "none"); 
			large_bar.style("display", "none"); 
			large_text.style("display", "none"); 
		})
	      .on("mousemove", largemove)
	      .call(zoom);
    });


    // draw hits
    var hits_api = '//web.abstractsoftware.ca/polo/php/backtest?pair='+App.select_coin //+'&group=true';

    y_r.domain([-20,20]); // tprice range -20,20
    large_focus.append("g")
	      .attr("class", "axis axis-yr")
	      .call(d3.axisLeft(y_r));
    d3.json(hits_api, function(raw_data) {
	raw_data.forEach(function(d) {
	    d.startDate = moment.utc(d.startDate);
	    d.endDate = moment.utc(d.endDate);
	    d.tprice = +d.tprice;
	    d.tbuy = +d.tbuy;
	    d.tsell = +d.tsell;
	    d.strades = +d.strades;
	    d.btrades = +d.btrades;
	});
	hits_data = raw_data;
	App.hits_list = hits_data.slice(0,block_hits);
	
	barsGroup.attr("clip-path", "url(#clip)")
	barsGroup.selectAll("hits_max")
	    .data(hits_data)
	    .enter().append("circle")
	    .attr("fill", function(d) { return ((d.tbuy - d.tsell) > 0 ? "url(#Gradient1)" : "url(#Gradient2)") })
	    .attr("class", "hits_max")
	    .style("opacity", 0.75)
	    .attr("cx", function(d) { return x(d.endDate) })
	    .attr("cy", function(d) { return y_r(d.tprice) })
	    .attr("r", function(d) { return Math.max(2, Math.min(18, Math.abs(d.tbuy - d.tsell))) } )
    });
}

function refreshChart() { // this refresh existing chart with transition(t)

	data_al = [], ohlc_data_al = [], t_tests = {}; 
 	large_endDate.select('path').attr("transform", "translate(" + x(moment.utc(App.endTime).toDate()) + ",0)");

	var small_api = '//web.abstractsoftware.ca/polo/php/returnpair?pair=' + App.select_coin + '&start=' + App.startTime  + '&end=' + App.endTime; 
	//var json_api = 'data.json';

	d3.json(small_api, function(raw_data) {
		if (raw_data == null) { return; }
		var prev_close = raw_data[0]["close"];
		for (let i = 0; i < raw_data.length; i++) {
			dateEnd = moment.utc(raw_data[i].endDate).toDate();
			buy_amt = parseFloat(raw_data[i]["buy_amount"] );
			sell_amt = parseFloat(raw_data[i]["sell_amount"] );
			total = buy_amt + sell_amt;
			buy_trade = parseFloat(raw_data[i]["buy_trades"] );
			sell_trade = parseFloat(raw_data[i]["sell_trades"] );
			data_al.push({ 'date': dateEnd, 'Buy': buy_amt, 'Sell': sell_amt, 'buyTrade': parseFloat(buy_trade), 'sellTrade': parseFloat(sell_trade) }) // volume & total bids data
		    ohlc_data_al.push({ 'date': dateEnd, 'close': parseFloat(raw_data[i].close), 'open': prev_close, 'high': parseFloat(raw_data[i].high), 'low': parseFloat(raw_data[i].low), 'volume': total }); // standard OHLC data
			prev_close = raw_data[i].close;
		}

        //colorStackChart.domain(d3.keys(data[0]).filter(function (key) { return key !== "date"; }));
	colorStackChart.domain(['Buy','Sell']);

            data_al.forEach(function (d) {
                var y0 = 0;
                d.ages = colorStackChart.domain().map(function (name) { return { name: name, y0: y0, y1: y0 += +d[name] }; });
                d.total = d.ages[d.ages.length - 1].y1;
            });

            data_al.sort(function (a, b) { return a.date - b.date; });
            ohlc_data_al.sort(function (a, b) { return a.date - b.date; });
   
	    $('#data_len').text(data_al.length);

	    xStackChart.domain(d3.extent(ohlc_data_al, function(d) { return d.date; }))
	    yStackChart.domain([0, d3.max(data_al, function (d) { return d.total*2; })]);
	    yLineChart.domain([d3.min(ohlc_data_al, function (d) { return d.close; })/1.02, d3.max(ohlc_data_al, function (d) { return d.close; }) ]);
	    yTtestChart.domain([-20,20]); // t-test range

	    t_tests['tprice'] = t_calc(ohlc_data_al, "close");
	    t_tests['mfi'] = mfi_calc(ohlc_data_al);
	    t_tests['tbuy'] = t_calc(data_al, 'Buy');
	    t_tests['tsell'] = t_calc(data_al, 'Sell');
	console.log(JSON.stringify(t_tests));


	// update axes
	    canvasStackChart.select(".t_value_p")
		.transition(t)
		.attr("transform", "translate(0," + yTtestChart(t_tests.tprice.t)  + ")")
		.select('text')
		.text(" T-price:" + t_tests.tprice.t.toFixed(2));
	    canvasStackChart.select(".t_value_b")
		.transition(t)
		.attr("transform", "translate(0," + yTtestChart(t_tests.tbuy.t)  + ")")
		.select('text')
		.text(" T-buy:" + t_tests.tbuy.t.toFixed(2));
	    canvasStackChart.select(".t_value_s")
		.transition(t)
		.attr("transform", "translate(0," + yTtestChart(t_tests.tsell.t)  + ")")
		.select('text')
		.text(" T-selll:" + t_tests.tsell.t.toFixed(2));

		if (Math.abs(t_tests.tprice.t) > 5) {
			fillBox("t_value_p", 0, 0, "#FF80AB" );
		} else {
			fillBox("t_value_p", 0, 0, "skyblue" );
		}
		if (Math.abs(t_tests.tbuy.t) > 3) {
			fillBox("t_value_b", 0, 0, "#FF80AB" );
		} else {
			fillBox("t_value_b", 0, 0, "skyblue" );
		}
		if (Math.abs(t_tests.tsell.t) > 3) {
			fillBox("t_value_s", 0, 0, "#FF80AB" );
		} else {
			fillBox("t_value_s", 0, 0, "skyblue" );
		}


	    canvasStackChart.select(".y.axis")
		.transition(t)
                .call(d3.axisLeft(yStackChart));

	    canvasStackChart.select(".y1.axis")
		.transition(t)
		.call(d3.axisRight(yLineChart))

	    canvasStackChart.select(".x")
		.transition(t)
		.call(xAxis3);

	    $(".barchart").remove(); // zap bar charts first

	    var bar_ch = barStackChart.selectAll(".bars_only")
            .data(data_al)
            .enter().append("g")
            .attr("class", "barchart")
            //.attr("transform", function (d,i) { return "translate(" + width/data_al.length*i + ",0)"; });
            .attr("transform", function (d,i) { return "translate(" + (xStackChart(d.date) - (width/data_al.length)/2) + ",0)"; });

            bar_ch.selectAll("rect")
            .data(function (d) { return d.ages; })
            .enter().append("rect")
	    .attr("width", Math.max(1, width/data_al.length ))
            .attr("y", function (d) { return yStackChart(d.y1); })
            .attr("height", function (d) { return yStackChart(d.y0) - yStackChart(d.y1); })
            .attr("val", function (d) { return d.y1 - d.y0; })
            .style("fill", function (d) { return colorStackChart(d.name); });

	// price line OVER barcharts
	    canvasStackChart.select(".small_line")
		.transition(t)
		.attr("d", valueline(ohlc_data_al));


	var vol = _pluck(ohlc_data_al, "volume");
	var vol_mean = nStats.mean(vol, vol.length - block_watch);
	var close_data = _pluck(ohlc_data_al, "close");
	var close_mean = nStats.mean(close_data, vol.length - block_watch);
	var close_sdev = nStats.sample_standard_deviation(close_data, vol.length - block_watch);
	var s_dev = nStats.sample_standard_deviation(vol, vol.length - block_watch);

	canvasStackChart.select(".mean_line")
	    .transition(t)
	    .attr("transform", "translate(0,"+ yLineChart(close_mean) +")")
	canvasStackChart.select(".sd_vol")
	    .transition(t)
	    .attr("transform", "translate(0,"+ yStackChart(vol_mean + (sd_90*s_dev)) +")")
	canvasStackChart.select(".sd_price")
	    .transition(t)
            .attr("y", yLineChart(close_mean + sd_90*close_sdev) )
            .attr("height",  Math.abs(2*(yLineChart(close_mean + sd_90*close_sdev) -  yLineChart(close_mean))) );


	});
}


function brushed() {
  if (d3.event.sourceEvent && d3.event.sourceEvent.type === "zoom") return; // ignore brush-by-zoom
  var s = d3.event.selection || x2.range();
  x.domain(s.map(x2.invert, x2));
  large_focus.select(".area").attr("d", area);
  large_focus.select(".axis--x").call(xAxis);
  barsGroup.selectAll(".hits_max")
	.attr("cx", function(d) { return x(d.endDate) })
	.attr("cy", function(d) { return y_r(d.tprice) })
  svg.select(".zoom").call(zoom.transform, d3.zoomIdentity
      .scale(width / (s[1] - s[0]))
      .translate(-s[0], 0));
  large_endDate.select('path').attr("transform", "translate(" + x(moment.utc(App.endTime).toDate()) + ",0)");
}

function zoomed() {
  clearTimeout(drawSmallTimer);
  if (d3.event.sourceEvent && d3.event.sourceEvent.type === "brush") return; // ignore zoom-by-brush
  var t = d3.event.transform;
  x.domain(t.rescaleX(x2).domain());
  large_focus.select(".area").attr("d", area);
  large_focus.select(".axis--x").call(xAxis);
  context.select(".brush").call(brush.move, x.range().map(t.invertX, t));
  barsGroup.selectAll(".hits_max")
	.attr("cx", function(d) { return x(d.endDate) })
	.attr("cy", function(d) { return y_r(d.tprice) })
  large_endDate.select('path').attr("transform", "translate(" + x(moment.utc(App.endTime).toDate()) + ",0)");
}


/* Mousedown on bigchart, starts timer for small chart */
	function mouseclick() {
	   if (data.length == 0) {  // yet to sync from server, hide info
	   } else {
	    var clickDate = x.invert(d3.mouse(this)[0])
	    drawSmallTimer = setTimeout(function(){ timerSmallChart(clickDate) }, 500);
	   }
	}

	function timerSmallChart(clickDate) {
		App.hits_list = filterHits(clickDate);
  		//large_endDate.select('path').attr("transform", "translate(" + x(clickDate) + ",0)");
		if (App.hits_list.length != 0) { // no hits, use clickDate
			App.small_graph = -1; // Empty select box
			drawSmallChart(0);
			Vue.nextTick(function () {
				App.small_graph = 0; // update the small chart select box
			})
	console.log("small_graph 0");
		}
	}
/* End Mousedown on bigchart, starts timer for small chart */


/* Filter all hits before mousedown (date)  */
function filterHits(clickDate, n) { // default n = 50 
	// filter dates from x.domain()[0] up to clickDate
	n = n || block_hits;
	clickDate = clickDate || x.domain()[1];
	var startDate = x.domain()[0];
	var  stopDate = clickDate;

	var tmpArr = hits_data.filter(function (d, i) {
    		return d.endDate >= startDate && d.endDate <= stopDate;
	})
	if (tmpArr.length == 0) { // not hits found, use clickDate as start
		tmpArr = hits_data.filter(function (d, i) {
    			return d.endDate >= startDate; 
		});
		tmpArr.reverse();
	}
	return tmpArr.slice(0,100);
}

/* Big chart mouse move */
function largemove() {
    if (data.length == 0) {  // yet to sync from server, hide info
	large_line.style("display", "none"); 
	large_bar.style("display", "none"); 
	large_text.style("display", "none"); 
	return; 
    } else {
	large_line.style("display", null); 
	large_bar.style("display", null); 
	large_text.style("display", null); 
    }

    var x_date =  x.invert(d3.mouse(this)[0]),
	filter_data = data.filter(function(d) { return d.date <= x_date } ),
	index = bisectDate(ohlc_data, x_date ),
	index2 = filter_data.length - 1;
	d = ohlc_data[index2];
    large_line.select('path').attr("transform", "translate(" + d3.mouse(this)[0] + ",0)");
    large_bar.select('path').attr("transform", "translate(0," + d3.mouse(this)[1] + ")");

    large_text.select('text').text("Date: "+ moment.utc(x_date).format() ) ;
    //console.log(x_date, index, d.close);
}

/* Small chart mouse move */
function mousemove() {
   if (data_al.length == 0) {  // yet to sync from server, hide info
	coordsGroup.style("display", "none"); 
	focus_line.style("display", "none"); 
	focus_bar.style("display", "none"); 
	focus_small.style("display", "none"); 
	focus_text.style("display", "none"); 
	return; 
   } else {
	coordsGroup.style("display", null); 
	focus_line.style("display", null); 
	focus_bar.style("display", null); 
	focus_small.style("display", null); 
	focus_text.style("display", null); 
   }
    var index = bisectDate(ohlc_data_al, xStackChart.invert((d3.mouse(this)[0]), 1)),
	index2 = parseInt(d3.mouse(this)[0]/840*data_al.length);
	//x_date =  xStackChart.invert((d3.mouse(this)[0]), 1),
	//filter_data = data_al.filter(function(d) { return d.date <= x_date } );
	//index = filter_data.length - 1;
	d = data_al[index],
	translateY = yLineChart(ohlc_data_al[index].close), // y-level
	offsetX = (index < (data_al.length/2)) ? 0 : (App.check_utc ? -165 : -160 ); // move to left quadrant if too far right

	if (App.check_utc) {
		dateString = d.date.toUTCString().replace(/^([\s]*[\S]+) /,"").replace(d.date.getFullYear() + " ", "");;
	} else {
		//dateString = d.date.toTimeString().replace(/ \(Pacific Daylight Time\)/,'');
		dateString = d.date.toLocaleString().replace(d.date.getFullYear(), d.date.getFullYear().toString().substring(2,4) );
	}

    focus_small.attr("transform", "translate(" + d3.mouse(this)[0] + "," + translateY + ")");
    focus_text.attr("transform", "translate(" + d3.mouse(this)[0] + "," + d3.mouse(this)[1] + ")");
    focus_line.attr("transform", "translate(" + d3.mouse(this)[0] + ",0)");
    focus_bar.attr("transform", "translate(0," + translateY + ")");

//console.log(d3.mouse(this)[0], index, index2);
    focus_text.select("text").html("<tspan>Date: "+dateString+"</tspan><tspan  dy='1em' x='9'>Buy: "+d.Buy.toFixed(2)+"</tspan><tspan dy='1em' x='9'>BuyTrade: "+d.buyTrade.toFixed(2)+"</tspan><tspan dy='1.4em' x='9'>Sell: "+d.Sell.toFixed(2)+"</tspan><tspan dy='1em' x='9'>SellTrade: "+d.sellTrade.toFixed(2)+"</tspan>").attr("transform", "translate("+ offsetX +",0)");

    coordsGroup.attr("transform", "translate(0,"+ translateY +")");
    coordsText.text(ohlc_data_al[index].close);
    //fillBox('focus_text', offsetX );
    fillBox('coords');
}


/* Highlight box for pricing */
function fillBox(myElem, offsetX, offsetY, fill) {
	fill = fill || 'yellow';
	offsetX = offsetX || 0;
	offsetY = offsetY || 0;
	var ctx = document.getElementsByClassName(myElem)[0];
	var ctx_text = ctx.getElementsByTagName('text')[0];
	$(ctx).find('rect').remove(); // remove old rect
	SVGRect = ctx_text.getBBox();

	var rect = document.createElementNS("http://www.w3.org/2000/svg", "rect");
	    rect.setAttribute("x", SVGRect.x);
	    rect.setAttribute("y", SVGRect.y);
	    rect.setAttribute("width", SVGRect.width + 2);
	    rect.setAttribute("height", SVGRect.height + 2);
	    rect.setAttribute("fill", fill);
	    rect.setAttribute("transform", "translate("+offsetX+","+offsetY+")");
	    ctx.insertBefore(rect, ctx.firstChild);
}

function getTimeFormat() { 
	if (App.check_utc) { // UTC TIME
		return d3.utcFormat("%m-%d %I:%M");
	} else {
		return d3.timeFormat("%m-%d %I:%M")
	}
}

function _pluck(element, child, search_string) {
	// replacing _.pluck() with 'search' option
	var out = [];
	// pluck part
	$.each(element, function(key,value) {
		out.push(value[child]);
	});
	// search part
	if (search_string != null) {
		var out2 = []
		$.each(out, function(key2,value2) {
		if ((value2 != null) && (value2.indexOf(search_string) > -1)) {
			out2.push(key2);
		}
		});
		out = (out2.length == 0) ? [-1] : out2; // return [-1] if not found
	}
	return out;
}

    // http://www.unm.edu/~marcusj/2Sampletex2.pdf 
    // updated: can pick from different object and slices
function t_calc(myData, myClose, n_slices) { // 
	myClose = myClose || "price"; // use closing price
	n_slices = n_slices || block_watch; // block_watch == 12 slices, 6 minutes

	if ( (myData[0][myClose] === undefined) && (myData.length < 2*block_watch) ) { // at least two equal samples, else t-test is meaningless
	    return {"t":0 ,"dof":0,"std_err":0,"p_value":0.5, key: myClose }
	}

	var close_arr = _pluck(myData, myClose); // array of closing prices
	var close_final = close_arr.splice(close_arr.length - n_slices, close_arr.length); // filter out final block
    	var output = nStats.t_test2sample(close_final, close_arr)
    	output["key"] = myClose;
	if (output.t > 20) { output.t = 20 }; // fix it to max 20
	if (output.t < -20) { output.t = -20 }; // fix it to min -20
	return output;
}

    // http://stockcharts.com/school/doku.php?id=chart_school:technical_indicators:money_flow_index_mfi
function mfi_calc(myData) { // mfi of  last 'block_watch + 1' slices.
	var up_or_down, prev_price, plus_flow = [], minus_flow = [];
	if (myData.length < 2*block_watch) { 
		return 0;
	} else if (myData.length < (2*block_watch + 1)) {
		var tmp_idx = myData.length - 2*block_watch - 1;
	} else {
		var tmp_idx = myData.length - 2*block_watch;
	}
	for (var i = tmp_idx; i < myData.length; i++) { 
	    if (prev_price == undefined) {
		prev_price = myData[i].price;
	    } else {
		up_or_down = (myData[i].price - prev_price); 
		prev_price = myData[i].price;
		var typical_price = (myData[i].high + myData[i].low + myData[i].price)/3
		var raw_money_flow = typical_price * myData[i].volume;
		if (up_or_down > 0) { // positive money flow
			plus_flow.push(raw_money_flow);
		} else { // negative money flow
			minus_flow.push(raw_money_flow);
		}
	    }
	}

	var money_flow_ratio = nStats.sum(plus_flow) / nStats.sum(minus_flow);
	var money_flow_index = 100 - 100/(1 + money_flow_ratio);
//console.log(money_flow_ratio, plus_flow, minus_flow)
	return money_flow_index;
}

function vol_buysell(myData) { // total up buy and sell volume, up to 'block_watch' slices
	var buy_vol = 0, sell_vol = 0;
	if (myData.length < block_watch) { 
	    return { 'buy': 0, 'sell': 0 };
	} else {
	    var tmp_idx = myData.length - block_watch - 1;
	    for (var i = tmp_idx; i < myData.length; i++) { 
		buy_vol += myData[i].Buy;
		sell_vol += myData[i].Sell;
	    }
	    return { 'buy': buy_vol, 'sell': sell_vol };

	}
}

</script>

</body>
</html>


