
.progress-bar-wrapper {
    width: 400px;
    margin: 0 auto;
    opacity: .7;
}

ul.p-bar {
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 0;
    list-style: none;
}

li.section {
    display: inline-block;
    padding-top: 45px;
    font-size: 13px;
    /* font-weight: bold; */
    line-height: 16px;
    color: gray;
    vertical-align: top;
    position: relative;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
}

li.section:before {
    content: '';
    position: absolute;
    top: 9px;
    left: calc(50% - 15px);
    z-index: 6;
    width: 20px;
    height: 20px;
    color: white;
    border: 2px solid white;
    border-radius: 17px;
    font-size: 8px;
    line-height: 16px;
    background: gray;
}
.status-bar {
    height: 6px;
    background: lightgrey;
    position: relative;
    top: 22px;
    margin: 0 auto;
}
.current-status {
    height: 10px;
    position: absolute;
    width: 0;
    top: -2px;
    border-radius: 1px;
    background: var(--amber_800);
}

@keyframes changeBackground {
    from {background: gray}
    to {background: var(--amber_800)}
}

li.section.visited:before {
    content: ''; /*'\2714';*/
    animation: changeBackground .5s linear;
    animation-fill-mode: forwards;
}

li.section.visited.current:before {
    box-shadow: 0 0 0 2px var(--amber_800);
}
