@font-face {
  font-family: 'cryptocoins';
  src:  url('fonts/cryptocoins.eot?d2eit9');
  src:  url('fonts/cryptocoins.eot?d2eit9#iefix') format('embedded-opentype'),
    url('fonts/cryptocoins.ttf?d2eit9') format('truetype'),
    url('fonts/cryptocoins.woff?d2eit9') format('woff'),
    url('fonts/cryptocoins.svg?d2eit9#cryptocoins') format('svg');
  font-weight: normal;
  font-style: normal;
}

i.cc {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'cryptocoins' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

i.cc.SAR:before {
  content: "\e900";
}
i.cc.SAR-alt:before {
  content: "\e901";
}
i.cc.SCOT:before {
  content: "\e902";
}
i.cc.SCOT-alt:before {
  content: "\e903";
}
i.cc.SDC:before {
  content: "\e904";
}
i.cc.SDC-alt:before {
  content: "\e905";
}
i.cc.SIA:before {
  content: "\e906";
}
i.cc.SIA-alt:before {
  content: "\e907";
}
i.cc.SJCX:before {
  content: "\e908";
}
i.cc.SJCX-alt:before {
  content: "\e909";
}
i.cc.SLG:before {
  content: "\e90a";
}
i.cc.SLG-alt:before {
  content: "\e90b";
}
i.cc.SLS:before {
  content: "\e90c";
}
i.cc.SLS-alt:before {
  content: "\e90d";
}
i.cc.SNRG:before {
  content: "\e90e";
}
i.cc.SNRG-alt:before {
  content: "\e90f";
}
i.cc.START:before {
  content: "\e910";
}
i.cc.START-alt:before {
  content: "\e911";
}
i.cc.STEEM:before {
  content: "\e912";
}
i.cc.STEEM-alt:before {
  content: "\e913";
}
i.cc.STR:before {
  content: "\e914";
}
i.cc.STR-alt:before {
  content: "\e915";
}
i.cc.STRAT:before {
  content: "\e916";
}
i.cc.STRAT-alt:before {
  content: "\e917";
}
i.cc.SWIFT:before {
  content: "\e918";
}
i.cc.SWIFT-alt:before {
  content: "\e919";
}
i.cc.SYNC:before {
  content: "\e91a";
}
i.cc.SYNC-alt:before {
  content: "\e91b";
}
i.cc.SYS:before {
  content: "\e91c";
}
i.cc.SYS-alt:before {
  content: "\e91d";
}
i.cc.TX:before {
  content: "\e91e";
}
i.cc.TX-alt:before {
  content: "\e91f";
}
i.cc.UNITY:before {
  content: "\e920";
}
i.cc.UNITY-alt:before {
  content: "\e921";
}
i.cc.USDT:before {
  content: "\e922";
}
i.cc.USDT-alt:before {
  content: "\e923";
}
i.cc.VIOR:before {
  content: "\e924";
}
i.cc.VIOR-alt:before {
  content: "\e925";
}
i.cc.VNL:before {
  content: "\e926";
}
i.cc.VNL-alt:before {
  content: "\e927";
}
i.cc.VPN:before {
  content: "\e928";
}
i.cc.VPN-alt:before {
  content: "\e929";
}
i.cc.VRC:before {
  content: "\e92a";
}
i.cc.VRC-alt:before {
  content: "\e92b";
}
i.cc.VTC:before {
  content: "\e92c";
}
i.cc.VTC-alt:before {
  content: "\e92d";
}
i.cc.XAI:before {
  content: "\e92e";
}
i.cc.XAI-alt:before {
  content: "\e92f";
}
i.cc.XBS:before {
  content: "\e930";
}
i.cc.XBS-alt:before {
  content: "\e931";
}
i.cc.XCP:before {
  content: "\e932";
}
i.cc.XCP-alt:before {
  content: "\e933";
}
i.cc.XEM:before {
  content: "\e934";
}
i.cc.XEM-alt:before {
  content: "\e935";
}
i.cc.XMR:before {
  content: "\e936";
}
i.cc.XPM:before {
  content: "\e937";
}
i.cc.XPM-alt:before {
  content: "\e938";
}
i.cc.XRP:before {
  content: "\e939";
}
i.cc.XRP-alt:before {
  content: "\e93a";
}
i.cc.XVG:before {
  content: "\e93b";
}
i.cc.XVG-alt:before {
  content: "\e93c";
}
i.cc.YBC:before {
  content: "\e93d";
}
i.cc.YBC-alt:before {
  content: "\e93e";
}
i.cc.ZEIT:before {
  content: "\e93f";
}
i.cc.ZEIT-alt:before {
  content: "\e940";
}
i.cc.MAID:before {
  content: "\e941";
}
i.cc.MAID-alt:before {
  content: "\e942";
}
i.cc.MINT:before {
  content: "\e943";
}
i.cc.MINT-alt:before {
  content: "\e944";
}
i.cc.MONA:before {
  content: "\e945";
}
i.cc.MONA-alt:before {
  content: "\e946";
}
i.cc.MRC:before {
  content: "\e947";
}
i.cc.MSC:before {
  content: "\e948";
}
i.cc.MSC-alt:before {
  content: "\e949";
}
i.cc.MTR:before {
  content: "\e94a";
}
i.cc.MTR-alt:before {
  content: "\e94b";
}
i.cc.MUE:before {
  content: "\e94c";
}
i.cc.MUE-alt:before {
  content: "\e94d";
}
i.cc.NBT:before {
  content: "\e94e";
}
i.cc.NEOS:before {
  content: "\e94f";
}
i.cc.NEOS-alt:before {
  content: "\e950";
}
i.cc.NEU:before {
  content: "\e951";
}
i.cc.NEU-alt:before {
  content: "\e952";
}
i.cc.NLG:before {
  content: "\e953";
}
i.cc.NLG-alt:before {
  content: "\e954";
}
i.cc.NMC:before {
  content: "\e955";
}
i.cc.NMC-alt:before {
  content: "\e956";
}
i.cc.NOTE:before {
  content: "\e957";
}
i.cc.NOTE-alt:before {
  content: "\e958";
}
i.cc.NVC:before {
  content: "\e959";
}
i.cc.NVC-alt:before {
  content: "\e95a";
}
i.cc.NXT:before {
  content: "\e95b";
}
i.cc.NXT-alt:before {
  content: "\e95c";
}
i.cc.OK:before {
  content: "\e95d";
}
i.cc.OK-alt:before {
  content: "\e95e";
}
i.cc.OMNI:before {
  content: "\e95f";
}
i.cc.OMNI-alt:before {
  content: "\e960";
}
i.cc.OPAL:before {
  content: "\e961";
}
i.cc.OPAL-alt:before {
  content: "\e962";
}
i.cc.PIGGY:before {
  content: "\e963";
}
i.cc.PIGGY-alt:before {
  content: "\e964";
}
i.cc.PINK:before {
  content: "\e965";
}
i.cc.PINK-alt:before {
  content: "\e966";
}
i.cc.POT:before {
  content: "\e967";
}
i.cc.POT-alt:before {
  content: "\e968";
}
i.cc.PPC:before {
  content: "\e969";
}
i.cc.PPC-alt:before {
  content: "\e96a";
}
i.cc.QRK:before {
  content: "\e96b";
}
i.cc.QRK-alt:before {
  content: "\e96c";
}
i.cc.RBIES:before {
  content: "\e96d";
}
i.cc.RBIES-alt:before {
  content: "\e96e";
}
i.cc.RBT:before {
  content: "\e96f";
}
i.cc.RBT-alt:before {
  content: "\e970";
}
i.cc.RBY:before {
  content: "\e971";
}
i.cc.RBY-alt:before {
  content: "\e972";
}
i.cc.RDD:before {
  content: "\e973";
}
i.cc.RDD-alt:before {
  content: "\e974";
}
i.cc.RISE:before {
  content: "\e975";
}
i.cc.RISE-alt:before {
  content: "\e976";
}
i.cc.GDC:before {
  content: "\e977";
}
i.cc.GDC-alt:before {
  content: "\e978";
}
i.cc.GEMZ:before {
  content: "\e979";
}
i.cc.GEMZ-alt:before {
  content: "\e97a";
}
i.cc.GLD:before {
  content: "\e97b";
}
i.cc.GLD-alt:before {
  content: "\e97c";
}
i.cc.GRC:before {
  content: "\e97d";
}
i.cc.GRC-alt:before {
  content: "\e97e";
}
i.cc.GRS:before {
  content: "\e97f";
}
i.cc.IFC:before {
  content: "\e980";
}
i.cc.IFC-alt:before {
  content: "\e981";
}
i.cc.IOC:before {
  content: "\e982";
}
i.cc.IOC-alt:before {
  content: "\e983";
}
i.cc.JBS:before {
  content: "\e984";
}
i.cc.JBS-alt:before {
  content: "\e985";
}
i.cc.KOBO:before {
  content: "\e986";
}
i.cc.KORE:before {
  content: "\e987";
}
i.cc.KORE-alt:before {
  content: "\e988";
}
i.cc.LBC:before {
  content: "\e989";
}
i.cc.LBC-alt:before {
  content: "\e98a";
}
i.cc.LDOGE:before {
  content: "\e98b";
}
i.cc.LDOGE-alt:before {
  content: "\e98c";
}
i.cc.LISK:before {
  content: "\e98d";
}
i.cc.LISK-alt:before {
  content: "\e98e";
}
i.cc.LTC:before {
  content: "\e98f";
}
i.cc.LTC-alt:before {
  content: "\e990";
}
i.cc.ADC:before {
  content: "\e991";
}
i.cc.ADC-alt:before {
  content: "\e992";
}
i.cc.AEON:before {
  content: "\e993";
}
i.cc.AEON-alt:before {
  content: "\e994";
}
i.cc.AMP:before {
  content: "\e995";
}
i.cc.AMP-alt:before {
  content: "\e996";
}
i.cc.ANC:before {
  content: "\e997";
}
i.cc.ANC-alt:before {
  content: "\e998";
}
i.cc.ARCH:before {
  content: "\e999";
}
i.cc.ARCH-alt:before {
  content: "\e99a";
}
i.cc.BANX:before {
  content: "\e99b";
}
i.cc.BANX-alt:before {
  content: "\e99c";
}
i.cc.BAY:before {
  content: "\e99d";
}
i.cc.BAY-alt:before {
  content: "\e99e";
}
i.cc.BC:before {
  content: "\e99f";
}
i.cc.BC-alt:before {
  content: "\e9a0";
}
i.cc.BCN:before {
  content: "\e9a1";
}
i.cc.BCN-alt:before {
  content: "\e9a2";
}
i.cc.BSD:before {
  content: "\e9a3";
}
i.cc.BSD-alt:before {
  content: "\e9a4";
}
i.cc.BTA:before {
  content: "\e9a5";
}
i.cc.BTC:before {
  content: "\e9a6";
}
i.cc.BTC-alt:before {
  content: "\e9a7";
}
i.cc.BTCD:before {
  content: "\e9a8";
}
i.cc.BTCD-alt:before {
  content: "\e9a9";
}
i.cc.BTS:before {
  content: "\e9aa";
}
i.cc.BTS-alt:before {
  content: "\e9ab";
}
i.cc.CLAM:before {
  content: "\e9ac";
}
i.cc.CLAM-alt:before {
  content: "\e9ad";
}
i.cc.CLOAK:before {
  content: "\e9ae";
}
i.cc.CLOAK-alt:before {
  content: "\e9af";
}
i.cc.DAO:before {
  content: "\e9b0";
}
i.cc.DAO-alt:before {
  content: "\e9b1";
}
i.cc.DASH:before {
  content: "\e9b2";
}
i.cc.DASH-alt:before {
  content: "\e9b3";
}
i.cc.DCR:before {
  content: "\e9b4";
}
i.cc.DCR-alt:before {
  content: "\e9b5";
}
i.cc.DGB:before {
  content: "\e9b6";
}
i.cc.DGB-alt:before {
  content: "\e9b7";
}
i.cc.DGD:before {
  content: "\e9b8";
}
i.cc.DGX:before {
  content: "\e9b9";
}
i.cc.DMD:before {
  content: "\e9ba";
}
i.cc.DMD-alt:before {
  content: "\e9bb";
}
i.cc.DOGE:before {
  content: "\e9bc";
}
i.cc.DOGE-alt:before {
  content: "\e9bd";
}
i.cc.EMC:before {
  content: "\e9be";
}
i.cc.EMC-alt:before {
  content: "\e9bf";
}
i.cc.ERC:before {
  content: "\e9c0";
}
i.cc.ERC-alt:before {
  content: "\e9c1";
}
i.cc.ETC:before {
  content: "\e9c2";
}
i.cc.ETC-alt:before {
  content: "\e9c3";
}
i.cc.ETH:before {
  content: "\e9c4";
}
i.cc.ETH-alt:before {
  content: "\e9c5";
}
i.cc.FC2:before {
  content: "\e9c6";
}
i.cc.FC2-alt:before {
  content: "\e9c7";
}
i.cc.FCT:before {
  content: "\e9c8";
}
i.cc.FCT-alt:before {
  content: "\e9c9";
}
i.cc.FRK:before {
  content: "\e9ca";
}
i.cc.FRK-alt:before {
  content: "\e9cb";
}
i.cc.FTC:before {
  content: "\e9cc";
}
i.cc.FTC-alt:before {
  content: "\e9cd";
}


i.cc.ARCH, i.cc.ARCH-alt { color: #002652; }
i.cc.BANX, i.cc.BANX-alt { color: #225BA6; }
i.cc.BC, i.cc.BC-alt { color: #202121; }
i.cc.BCN, i.cc.BCN-alt { color: #964F51; }
i.cc.BTC, i.cc.BTC-alt { color: #F7931A; }
i.cc.BTCD, i.cc.BTCD-alt { color: #2A72DC; }
i.cc.BTS, i.cc.BTS-alt { color: #03A9E0; }
i.cc.DASH, i.cc.DASH-alt { color: #1c75bc; }
i.cc.DOGE, i.cc.DOGE-alt { color: #BA9F33; }
i.cc.FC2, i.cc.FC2-alt { color: #040405; }
i.cc.FTC, i.cc.FTC-alt { color: #679EF1; }
i.cc.GEMZ, i.cc.GEMZ-alt { color: #e86060; }
i.cc.GRC, i.cc.GRC-alt { color: #88A13C; }
i.cc.IFC, i.cc.IFC-alt { color: #ed272d; }
i.cc.KORE, i.cc.KORE-alt { color: #DF4124; }
i.cc.LTC, i.cc.LTC-alt { color: #838383; }
i.cc.MAID, i.cc.MAID-alt { color: #5492D6; }
i.cc.MSC, i.cc.MSC-alt { color: #1D4983; }
i.cc.NBT { color: #FFC93D; }
i.cc.NMC, i.cc.NMC-alt { color: #6787B7; }
i.cc.NOTE, i.cc.NOTE-alt { color: #42daff; }
i.cc.NXT, i.cc.NXT-alt { color: #008FBB; }
i.cc.OPAL, i.cc.OPAL-alt { color: #7193AA; }
i.cc.POT, i.cc.POT-alt { color: #105B2F; }
i.cc.PPC, i.cc.PPC-alt { color: #3FA30C; }
i.cc.QRK, i.cc.QRK-alt { color: #22AABF; }
i.cc.RBT, i.cc.RBT-alt { color: #0d4982; }
i.cc.SDC, i.cc.SDC-alt { color: #981D2D; }
i.cc.STR, i.cc.STR-alt { color: #08B5E5; }
i.cc.SYNC, i.cc.SYNC-alt { color: #008DD2; }
i.cc.UNITY, i.cc.UNITY-alt { color: #ED8527; }
i.cc.VIOR, i.cc.VIOR-alt { color: #1F52A4; }
i.cc.VPN, i.cc.VPN-alt { color: #589700; }
i.cc.VRC, i.cc.VRC-alt { color: #418bca; }
i.cc.VTC, i.cc.VTC-alt { color: #1b5c2e; }
i.cc.XCP, i.cc.XCP-alt { color: #EC1550; }
i.cc.XEM, i.cc.XEM-alt { color: #41bf76; }
i.cc.XMR { color: #FF6600; }
i.cc.XRP, i.cc.XRP-alt { color: #346AA9; }
i.cc.YBC, i.cc.YBC-alt { color: #D6C154; }
i.cc.DMD, i.cc.DMD-alt { color: #5497b2; }
i.cc.FRK, i.cc.FRK-alt { color: #0633cd; }
i.cc.IOC, i.cc.IOC-alt { color: #2fa3de; }
i.cc.LDOGE, i.cc.LDOGE-alt { color: #ffcc00; }
i.cc.MTR, i.cc.MTR-alt { color: #b92429; }
i.cc.MUE, i.cc.MUE-alt { color: #f5a10e; }
i.cc.XAI, i.cc.XAI-alt { color: #2ef99f; }
i.cc.XBS, i.cc.XBS-alt { color: #d3261d; }
i.cc.XPM, i.cc.XPM-alt { color: #e5b625; }
i.cc.BAY, i.cc.BAY-alt { color: #584ba1; }
i.cc.DGB, i.cc.DGB-alt { color: #0066cc; }
i.cc.EMC, i.cc.EMC-alt { color: #674c8c; }
i.cc.ETH, i.cc.ETH-alt { color: #282828; }
i.cc.MINT, i.cc.MINT-alt { color: #006835; }
i.cc.MONA, i.cc.MONA-alt { color: #a99364; }
i.cc.MRC { color: #4279bd; }
i.cc.NEU, i.cc.NEU-alt { color: #2983c0; }
i.cc.NVC, i.cc.NVC-alt { color: #ecab41; }
i.cc.AEON, i.cc.AEON-alt { color: #164450; }
i.cc.AMP, i.cc.AMP-alt { color: #048DD2; }
i.cc.ANC, i.cc.ANC-alt { color: #000; }
i.cc.BTA { color: #210094; }
i.cc.CLAM, i.cc.CLAM-alt { color: #D6AB31; }
i.cc.CLOAK, i.cc.CLOAK-alt { color: #DF3F1E; }
i.cc.DCR, i.cc.DCR-alt { color: #43A2CA; }
i.cc.NEOS, i.cc.NEOS-alt { color: #3771B1; }
i.cc.NLG, i.cc.NLG-alt { color: #003E7E; }
i.cc.OK, i.cc.OK-alt { color: #0165A4; }
i.cc.OMNI, i.cc.OMNI-alt { color: #18347E; }
i.cc.RBY, i.cc.RBY-alt { color: #D31F26; }
i.cc.SCOT, i.cc.SCOT-alt { color: #3498DB; }
i.cc.SJCX, i.cc.SJCX-alt { color: #003366; }
i.cc.START, i.cc.START-alt { color: #01AEF0; }
i.cc.SYS, i.cc.SYS-alt { color: #0098DA; }
i.cc.VNL, i.cc.VNL-alt { color: #404249; }
i.cc.TX, i.cc.TX-alt { color: #1F8BCC; }
i.cc.XVG, i.cc.XVG-alt { color: #42AFB2; }
i.cc.FCT, i.cc.FCT-alt { color: #2175BB; }
i.cc.GDC, i.cc.GDC-alt { color: #E9A226; }
i.cc.JBS, i.cc.JBS-alt { color: #1A8BCD; }
i.cc.LISK, i.cc.LISK-alt { color: #1A6896; }
i.cc.PIGGY, i.cc.PIGGY-alt { color: #F27A7A; }
i.cc.RBIES, i.cc.RBIES-alt { color: #C62436; }
i.cc.SAR, i.cc.SAR-alt { color: #1B72B8; }
i.cc.SLG, i.cc.SLG-alt { color: #5A6875; }
i.cc.USDT, i.cc.USDT-alt { color: #2CA07A; }
i.cc.ZEIT, i.cc.ZEIT-alt { color: #ACACAC; }
i.cc.DGD, i.cc.DGX { color: #D8A24A; }
i.cc.ADC, i.cc.ADC-alt { color: #3CB0E5; }
i.cc.BSD, i.cc.BSD-alt { color: #1186E7; }
i.cc.DAO, i.cc.DAO-alt { color: #FF3B3B; }
i.cc.ERC, i.cc.ERC-alt { color: #101E84; }
i.cc.ETC, i.cc.ETC-alt { color: #669073; }
i.cc.GLD, i.cc.GLD-alt { color: #E8BE24; }
i.cc.GRS { color: #648FA0; }
i.cc.KOBO { color: #80C342; }
i.cc.LBC, i.cc.LBC-alt { color: #015C47; }
i.cc.PINK, i.cc.PINK-alt { color: #ED31CA; }
i.cc.RDD, i.cc.RDD-alt { color: #ED1C24; }
i.cc.RISE, i.cc.RISE-alt { color: #43CEA2; }
i.cc.SIA, i.cc.SIA-alt { color: #00CBA0; }
i.cc.SLS, i.cc.SLS-alt { color: #1EB549; }
i.cc.SNRG, i.cc.SNRG-alt { color: #160363; }
i.cc.STEEM, i.cc.STEEM-alt { color: #1A5099; }
i.cc.STRAT, i.cc.STRAT-alt { color: #33C7F5; }
i.cc.SWIFT, i.cc.SWIFT-alt { color: #428BCA; }

